[2020-01-28 15:12] Nimmaster opened #1 "Basic uploading"
Use Maven libraries.
Scope: no snapshots, plugins, parents

[2020-01-28 15:12] 0crat commented on #1
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-28 15:12] 0crat commented on #1
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-28 15:17] 0crat commented on #1
You @nimmaster[/z](https://www.0crat.com/u/nimmaster) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-01-30 11:46] Nimmaster opened #6 "OptionalAssertionsTest"
Testing facility class `com.artipie.maven.test.OptionalAssertions` requires its own unit tests

[2020-01-30 11:46] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-30 11:47] 0crat commented on #6
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-30 11:51] 0crat commented on #6
You @nimmaster[/z](https://www.0crat.com/u/nimmaster) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-01-30 13:29] 0pdd opened #7 "OptionalAssertions.java:35-38: We added class..."
The puzzle `1-539b0424` from #1 has to be resolved:

https://github.com/artipie/maven-adapter/blob/6baf3ebe6972fbded3f4b17e607cc00c001301a1/src/test/java/com/artipie/maven/test/OptionalAssertions.java#L35-L38

The puzzle was created by Nimmaster on 30-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-01-30 13:29] 0pdd commented on #1
@Nimmaster the puzzle [#7](https://github.com/artipie/maven-adapter/issues/7) is still not solved.

[2020-01-30 13:29] 0crat commented on #7
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-30 13:31] #6 closed

[2020-01-30 13:52] 0crat commented on #6
Job `gh:artipie/maven-adapter#6` is not assigned, can't get performer

[2020-01-30 14:01] 0crat commented on #6
This job is not in scope

[2020-01-31 06:56] #7 closed

[2020-01-31 06:56] 0pdd commented on #7
The puzzle `1-539b0424` has disappeared from the source code, that's why I closed this issue.

[2020-01-31 06:56] 0pdd commented on #1
@Nimmaster the only puzzle [#7](https://github.com/artipie/maven-adapter/issues/7) is solved here.

[2020-01-31 07:21] 0crat commented on #7
Job `gh:artipie/maven-adapter#7` is not assigned, can't get performer

[2020-01-31 07:24] 0crat commented on #7
This job is not in scope

[2020-01-31 13:52] #1 closed

[2020-01-31 13:53] Nimmaster opened #10 "Repository impl"
Implement Repository with Maven libraries.

[2020-01-31 13:53] 0crat commented on #10
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-31 13:53] 0crat commented on #10
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-31 13:53] 0crat commented on #10
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-31 13:53] 0crat commented on #10
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-31 14:04] 0crat commented on #10
You @nimmaster[/z](https://www.0crat.com/u/nimmaster) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-01-31 14:09] 0crat commented on #1
Job `gh:artipie/maven-adapter#1` is not assigned, can't get performer

[2020-01-31 14:09] 0crat commented on #1
This job is not in scope

[2020-02-03 07:45] Nimmaster opened #11 "Parse coordinates by path"
Now `com.artipie.maven.FileCoordinates` expects artfiact name to be as colon-delimited string. It should be URI path segment

[2020-02-03 07:45] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-03 07:45] 0crat commented on #11
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-03 07:46] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-03 07:46] 0crat commented on #11
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-03 07:59] 0crat commented on #11
You @nimmaster[/z](https://www.0crat.com/u/nimmaster) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-02-05 08:01] Nimmaster opened #15 "Staging file java facilities"
Maven relies heavily on file system. Before processing an artifact, we should put it in some temporary storage.

[2020-02-05 08:01] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-05 08:01] 0crat commented on #15
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 07:33] Nimmaster opened #17 "Migrate to PPOM"
Set project `pom.xml` to [PPOM](https://github.com/artipie/ppom)

[2020-02-06 07:34] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-06 07:34] 0crat commented on #17
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-07 07:03] #15 closed

[2020-02-07 07:03] #11 closed

[2020-02-07 07:50] 0crat commented on #15
Job `gh:artipie/maven-adapter#15` is not assigned, can't get performer

[2020-02-07 08:04] 0crat commented on #15
This job is not in scope

[2020-02-07 08:22] 0crat commented on #11
This job is not in scope

[2020-02-07 08:22] 0crat commented on #11
Job `gh:artipie/maven-adapter#11` is not assigned, can't get performer

[2020-02-10 12:53] g4s8 opened #19 "Remeaining class affects buffer state on read"
`Remaining` class affects underlying `ByteBuffer` on read operations.

[2020-02-10 12:53] #19 closed

[2020-02-10 13:24] 0crat commented on #19
Job `gh:artipie/maven-adapter#19` is not assigned, can't get performer

[2020-02-10 13:59] 0crat commented on #19
This job is not in scope

[2020-02-11 09:22] #10 closed

[2020-02-11 10:03] 0crat commented on #10
Job `gh:artipie/maven-adapter#10` is not assigned, can't get performer

[2020-02-11 10:20] 0crat commented on #10
This job is not in scope

[2020-02-11 11:05] Nimmaster opened #20 "LocalArtifactResolver unit test"
`LocalArtifactResolver` resolves an artifact in a local repository by its relative path.
The class was _not_ covered by test to split the original pull request.

[2020-02-11 11:06] 0crat commented on #20
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-11 11:06] 0crat commented on #20
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 11:11] Nimmaster opened #22 "Validating ServiceLocator"
`org.eclipse.aether.spi.locator.ServiceLocator` is a ServiceLocator pattern interface. It creates/retrieves services by matching service class. If the service was not yet registered it simply returns null forcing you to make a null check on each invocation.
We should hide null checks in another class implementing the interface.

[2020-02-11 11:11] 0crat commented on #22
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-11 11:11] 0crat commented on #22
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 11:18] Nimmaster opened #24 "Implement two FileCoordinates methods"
`FileCoordinates` contains two methods: `coords()` and `path()` that throw `UnsupportedOperationException`. We should implement it (and unit test too).
The class was _not_ implemented to split the original pull request.

[2020-02-11 11:18] 0crat commented on #24
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-11 11:18] 0crat commented on #24
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 15:24] g4s8 opened #26 "Readme documentation is missed"
It's not clear how to use this module, which classes to use as entry points and how to construct it. @Nimmaster  please add these details to usage section of `README.md`.

[2020-02-13 11:29] #20 closed

[2020-02-13 11:35] Nimmaster opened #28 "Asto integration"
Asto storage should be introduced to Maven library lifecycle

[2020-02-13 11:35] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 11:35] 0crat commented on #28
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 11:52] 0crat commented on #20
Job `gh:artipie/maven-adapter#20` is not assigned, can't get performer

[2020-02-13 12:18] 0crat commented on #20
This job is not in scope

[2020-02-13 14:18] #22 closed

[2020-02-13 14:19] Nimmaster commented on #26
@g4s8 why can't I close it?
Close it yourself then.

[2020-02-13 15:18] 0crat commented on #22
Job `gh:artipie/maven-adapter#22` is not assigned, can't get performer

[2020-02-13 15:26] 0crat commented on #22
This job is not in scope

[2020-02-13 16:06] #24 closed

[2020-02-13 16:40] 0crat commented on #24
Job `gh:artipie/maven-adapter#24` is not assigned, can't get performer

[2020-02-13 17:29] 0crat commented on #24
This job is not in scope

[2020-02-14 07:12] g4s8 commented on #26
@Nimmaster sure, thanks

[2020-02-14 07:12] #26 closed

[2020-02-14 07:40] 0crat commented on #26
Job `gh:artipie/maven-adapter#26` is not assigned, can't get performer

[2020-02-14 07:47] 0crat commented on #26
This job is not in scope

[2020-02-14 10:55] #28 closed

[2020-02-14 12:05] 0crat commented on #28
Job `gh:artipie/maven-adapter#28` is not assigned, can't get performer

[2020-02-14 12:25] 0crat commented on #28
This job is not in scope

[2020-02-14 12:50] Nimmaster opened #30 "Configure ServiceLocatorFactory"
To pass `LocalRepository` as constructor arg

[2020-02-14 12:50] 0crat commented on #30
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 12:50] 0crat commented on #30
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 15:25] Nimmaster opened #32 "AetherRepository test"
Class `com.artipie.maven.aether.AetherRepository` needs unit testing.

[2020-02-14 15:25] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 15:25] 0crat commented on #32
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 15:59] Nimmaster opened #34 "Purge local repository directory"
To delete files in local repository just like in `AutoCloseablePath`.
Consider and putting artifacts directly to local repository, dropping `AutoCloseablePath`.
Introduce an interface for different deletion strategies in local repositories - possibly LRU time-based policy.

[2020-02-14 15:59] 0crat commented on #34
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 15:59] 0crat commented on #34
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 16:00] Nimmaster opened #35 "Refactor ChecksumAttribute"
Now checksum attribute reads the artifact file itself. It should read from a checksum file.

[2020-02-14 16:00] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 16:00] 0crat commented on #35
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 16:02] Nimmaster opened #36 "Migrate upload to java.util.concurrent.Flow"
Now it accepts InputStream, it should be refactored to `java.util.Flow.Publisher<ByteBuffer>`

[2020-02-14 16:02] 0crat commented on #36
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 16:02] 0crat commented on #36
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 16:02] Nimmaster opened #37 "Implement download method"
To introduce a method for downloading artifacts in Repository

[2020-02-14 16:03] 0crat commented on #37
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 16:03] 0crat commented on #37
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-17 15:09] Nimmaster opened #39 "Setup logging"
With scope `test`

[2020-02-17 15:09] 0crat commented on #39
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-17 15:09] 0crat commented on #39
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-17 16:47] 0pdd opened #41 "ServiceLocatorFactory.java:60-62: Inject a..."
The puzzle `10-5f36658f` from #10 has to be resolved:

https://github.com/artipie/maven-adapter/blob/384f888b41e99fdffcff572ee73ba44b95af4855/src/main/java/com/artipie/maven/aether/ServiceLocatorFactory.java#L60-L62

The puzzle was created by @Nimmaster on 10-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-02-17 16:48] 0pdd commented on #10
@Nimmaster the puzzle [#41](https://github.com/artipie/maven-adapter/issues/41) is still not solved.

[2020-02-17 16:48] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-18 06:36] #32 closed

[2020-02-18 07:18] 0crat commented on #32
Job `gh:artipie/maven-adapter#32` is not assigned, can't get performer

[2020-02-18 07:24] 0crat commented on #32
This job is not in scope

[2020-02-18 10:45] Nimmaster commented on #41
@g4s8 0pdd created a todo issue a week after the original pull request.

[2020-02-20 07:46] #39 closed

[2020-02-20 08:03] 0pdd opened #44 "AstoTransporterTest.java:73-76: Delete temp directory...."
The puzzle `37-329dc9a9` from #37 has to be resolved:

https://github.com/artipie/maven-adapter/blob/40bd2fbf3623437b0278ff182da15eb45509599d/src/test/java/com/artipie/maven/aether/AstoTransporterTest.java#L73-L76

The puzzle was created by @Nimmaster on 18-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-02-20 08:03] 0pdd commented on #37
@Nimmaster the puzzle [#44](https://github.com/artipie/maven-adapter/issues/44) is still not solved.

[2020-02-20 08:04] 0crat commented on #44
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-20 08:08] #37 closed

[2020-02-20 08:21] 0crat commented on #39
This job is not in scope

[2020-02-20 08:23] 0crat commented on #39
Job `gh:artipie/maven-adapter#39` is not assigned, can't get performer

[2020-02-20 08:32] 0crat commented on #37
Job `gh:artipie/maven-adapter#37` is not assigned, can't get performer

[2020-02-20 09:00] 0crat commented on #37
This job is not in scope

[2020-02-20 12:38] Nimmaster opened #46 "Repository should resolve maven-metadata.xml"

[2020-02-20 12:38] 0crat commented on #46
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-20 12:38] 0crat commented on #46
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-20 13:24] Nimmaster opened #47 "Setup logging more"
- the project uses `org.slf4j.Marker` in logging statements, logback config pattern should support it.
- set `WARN` level for `io.netty`

[2020-02-20 13:24] 0crat commented on #47
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-20 13:24] 0crat commented on #47
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-21 07:56] #35 closed

[2020-02-21 08:35] 0crat commented on #35
Job `gh:artipie/maven-adapter#35` is not assigned, can't get performer

[2020-02-21 08:36] 0crat commented on #35
This job is not in scope

[2020-02-21 10:24] #47 closed

[2020-02-21 11:22] 0crat commented on #47
Job `gh:artipie/maven-adapter#47` is not assigned, can't get performer

[2020-02-21 11:35] 0crat commented on #47
This job is not in scope

[2020-02-21 12:50] Nimmaster opened #51 "Introduce context object"
`org.eclipse.aether.spi.locator.ServiceLocator` and `org.eclipse.aether.RepositorySystemSession` are principal interfaces in Maven library. They should be created as instance-per-request which makes them quiet unwieldy.
I propose to create a new class (say `com.artipie.maven.aether.Context`) which:
* implements these two interfaces and passes method calls to delegate fields
* absorbs `com.artipie.

[2020-02-21 12:50] 0crat commented on #51
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-21 12:50] 0crat commented on #51
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-21 12:51] Nimmaster commented on #30
Absorbed by #51

[2020-02-21 12:51] #30 closed

[2020-02-21 12:52] Nimmaster commented on #41
Should be resolved in #51

[2020-02-21 12:59] Nimmaster opened #52 "AstoTransporter should set checksums for artifact resolution"
Set checksums in Task object in `com.artipie.maven.aether.AstoTransporter#implGet` like:
[code]
Now, if checksums are not set, Maven library logs warnings like:
[code]
It is a place for possible optimization - to fetch a binary and its checksums in one call.

[2020-02-21 13:00] 0crat commented on #52
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-21 13:00] 0crat commented on #52
@nimmaster[/z](https://www.0crat.com/u/nimmaster) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-21 13:17] 0crat commented on #30
Job `gh:artipie/maven-adapter#30` is not assigned, can't get performer

[2020-02-21 13:19] 0crat commented on #30
This job is not in scope

[2020-02-26 13:05] 0pdd opened #53 "AetherRepository.java:43-46: Inject Deployer (and..."
The puzzle `37-15918c08` from #37 has to be resolved:

https://github.com/artipie/maven-adapter/blob/dacda54cdffdbd969554cd93a2d0b2f0202d030b/src/main/java/com/artipie/maven/aether/repository/AetherRepository.java#L43-L46

The puzzle was created by @g4s8 on 26-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-02-26 13:05] 0pdd commented on #37
@Nimmaster 2 puzzles [#44](https://github.com/artipie/maven-adapter/issues/44), [#53](https://github.com/artipie/maven-adapter/issues/53) are still not solved.

[2020-02-26 13:07] 0crat commented on #53
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-02 11:21] g4s8 opened #54 "Adapter refactoring"
Refactor maven adapter base interfaces and entry points:
 - it should be reactive - no support for `InputStream` and `OutputStream`, only `Publisher<ByteBuffer>` from reactivestreams.org
 - Entry point class should encapsulate `Storage` interface from `artipie/asto` dependency and use it to generate metadata by key, e.g. `new Maven(storage).update(new Key.From("org/artipie/maven-adapter"))`

Ask m

[2020-03-02 11:21] g4s8 commented on #54
@0crat assign @paulodamaso

[2020-03-02 11:50] 0crat commented on #54
I'm not managing `artipie/maven-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-03-03 08:43] g4s8 commented on #54
@0crat hello

[2020-03-03 08:43] 0crat commented on #54
I'm not managing `artipie/maven-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-03-03 09:12] g4s8 commented on #54
@0crat assign @paulodamaso

[2020-03-03 09:36] 0crat commented on #54
@g4s8 The job [#54](https://github.com/artipie/maven-adapter/issues/54) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/72cd3414-dd05-4289-8dde-5b0b47bd6f44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-03-03 09:43] 0crat commented on #54
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-03 10:00] 0crat commented on #54
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 11:09] g4s8 commented on #54
@0crat boost 4x

[2020-03-04 11:28] 0crat commented on #54
@g4s8 Boost 4x was set for [#54](https://github.com/artipie/maven-adapter/issues/54)

[2020-03-08 10:01] 0crat commented on #54
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-10 14:32] paulodamaso commented on #54
@0crat wait for #55 merge

[2020-03-18 07:22] 0pdd opened #56 "pom.xml:102: Remove commons usage in favor of cactoos"
The puzzle `54-9c5a8d8c` from #54 has to be resolved:

https://github.com/artipie/maven-adapter/blob/36e031e9b3094cdb94f33676f5425419f2b53ec0/pom.xml#L102-L102

The puzzle was created by paulodamaso on 10-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2020-03-18 07:22] 0pdd opened #57 "Metadata.java:39-44: Implement Metadata generation...."
The puzzle `54-83abca7b` from #54 has to be resolved:

https://github.com/artipie/maven-adapter/blob/36e031e9b3094cdb94f33676f5425419f2b53ec0/src/main/java/com/artipie/maven/metadata/Metadata.java#L39-L44

The puzzle was created by paulodamaso on 13-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-03-18 07:22] 0pdd opened #58 "File.java:34-36: Implement file storage using..."
The puzzle `54-affb36a2` from #54 has to be resolved:

https://github.com/artipie/maven-adapter/blob/36e031e9b3094cdb94f33676f5425419f2b53ec0/src/main/java/com/artipie/maven/file/File.java#L34-L36

The puzzle was created by paulodamaso on 10-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-03-18 07:22] 0pdd commented on #54
@g4s8 3 puzzles [#56](https://github.com/artipie/maven-adapter/issues/56), [#57](https://github.com/artipie/maven-adapter/issues/57), [#58](https://github.com/artipie/maven-adapter/issues/58) are still not solved.

[2020-03-18 07:22] g4s8 commented on #54
@paulodamaso fixed by #55 PR

[2020-03-18 07:22] #54 closed

[2020-03-18 07:22] 0crat commented on #58
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-18 07:23] 0crat commented on #57
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-18 07:23] 0crat commented on #56
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-18 08:31] 0crat commented on #58
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.12](https://github.com/zerocracy/farm): CID: [dd172da2-15c2-4b01-939c-219a77d1d41b](https://www.0crat.com/footprint/CT2E6TK9B/dd172da2-15c2-4b01-939c-219a77d1d41b), Type: "Job milestoned"

[2020-03-18 10:35] 0crat commented on #57
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.12](https://github.com/zerocracy/farm): CID: [b02d0da8-1154-42bc-9f5e-e87fecce8235](https://www.0crat.com/footprint/CT2E6TK9B/b02d0da8-1154-42bc-9f5e-e87fecce8235), Type: "Job milestoned"

[2020-03-19 15:07] 0crat commented on #58
The job [#58](https://github.com/artipie/maven-adapter/issues/58) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/78d9bb9c-21d3-499e-917b-7dd1050600d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-03-19 17:29] 0crat commented on #57
The job [#57](https://github.com/artipie/maven-adapter/issues/57) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/886c4e4c-707f-4e79-bf2b-145087ebfc09); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-03-22 10:07] carlosmiranda commented on #58
@0crat refuse

[2020-03-22 11:09] 0crat commented on #58
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#58](https://github.com/artipie/maven-adapter/issues/58), please stop working. Reason for job resignation: Order was cancelled

[2020-03-24 12:55] 0crat commented on #57
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-25 13:37] #57 closed

[2020-03-25 13:37] 0pdd commented on #57
The puzzle `54-83abca7b` has disappeared from the source code, that's why I closed this issue.

[2020-03-25 13:37] 0pdd opened #60 "Metadata.java:39-44: Continue to implement metadata..."
The puzzle `57-0a27a98f` from #57 has to be resolved:

https://github.com/artipie/maven-adapter/blob/c5a5fc70c47a948f50a1cce0a62e151568effeaa/src/main/java/com/artipie/maven/metadata/Metadata.java#L39-L44

The puzzle was created by paulodamaso on 23-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-03-25 13:37] 0pdd commented on #54
@g4s8 3 puzzles [#56](https://github.com/artipie/maven-adapter/issues/56), [#58](https://github.com/artipie/maven-adapter/issues/58), [#60](https://github.com/artipie/maven-adapter/issues/60) are still not solved; solved: [#57](https://github.com/artipie/maven-adapter/issues/57).

[2020-03-25 13:37] 0pdd commented on #57
@0pdd the puzzle [#60](https://github.com/artipie/maven-adapter/issues/60) is still not solved.

[2020-03-25 13:38] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 14:19] 0crat commented on #57
The project doesn't have enough funds, can't make a payment

[2020-03-25 21:15] 0crat commented on #58
The job [#58](https://github.com/artipie/maven-adapter/issues/58) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/aa05e72f-8e5e-4534-b77b-1a85e5c4b72c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-03-25 22:07] 0crat commented on #60
The job [#60](https://github.com/artipie/maven-adapter/issues/60) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/357ca3a9-a78a-4ab5-8b65-0fe8f4ed2ca7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-03-25 22:22] carlosmiranda commented on #60
@0crat refuse

[2020-03-25 22:30] 0crat commented on #60
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#60](https://github.com/artipie/maven-adapter/issues/60), please stop working. Reason for job resignation: Order was cancelled

[2020-03-25 22:30] 0crat commented on #60
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-27 10:23] g4s8 commented on #60
@0crat boost 4x

[2020-03-27 10:28] g4s8 commented on #60
@paulodamaso this ticket is most important in this module (boosted), we need to get working MVP with maven metadata as soon as possible. Let me know if you need something from my side.

[2020-03-27 10:29] 0crat commented on #60
The job [#60](https://github.com/artipie/maven-adapter/issues/60) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/83667d9f-838c-4c55-bdf5-3991d851cdbd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-03-27 10:31] 0crat commented on #60
@g4s8 Boost 4x was set for [#60](https://github.com/artipie/maven-adapter/issues/60)

[2020-03-27 13:51] #58 closed

[2020-03-27 13:51] 0pdd commented on #58
The puzzle `54-affb36a2` has disappeared from the source code, that's why I closed this issue.

[2020-03-27 13:51] 0pdd opened #62 "File.java:38-40: Implement file storage using..."
The puzzle `58-abf1aafd` from #58 has to be resolved:

https://github.com/artipie/maven-adapter/blob/d50a378793d571a0854d4e3b025c00c691bac075/src/main/java/com/artipie/maven/file/File.java#L38-L40

The puzzle was created by paulodamaso on 26-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-03-27 13:51] 0pdd commented on #54
@g4s8 3 puzzles [#56](https://github.com/artipie/maven-adapter/issues/56), [#60](https://github.com/artipie/maven-adapter/issues/60), [#62](https://github.com/artipie/maven-adapter/issues/62) are still not solved; solved: [#57](https://github.com/artipie/maven-adapter/issues/57), [#58](https://github.com/artipie/maven-adapter/issues/58).

[2020-03-27 13:51] 0pdd commented on #58
@0pdd the puzzle [#62](https://github.com/artipie/maven-adapter/issues/62) is still not solved.

[2020-03-30 04:38] paulodamaso commented on #60
@g4s8 I'm working on it. I chose to use `Xembly` to build the XML but I've come across a bug in the library (https://github.com/yegor256/xembly/issues/64), so I'll have to make the XML building again (unless we can add the XML header to metadata test, WDYT?)

[2020-03-30 06:20] g4s8 commented on #60
@paulodamaso it's ok for the beginning. But we'll need to replace it later with some kind of stream XML parser & reader (e.g. like stax in `artipie/rpm-adapter`), since we may have huge metadata XML files, and we should not keep all files in memory to add one line.

[2020-03-30 21:48] 0crat commented on #58
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-31 07:35] g4s8 commented on #58
@0crat status

[2020-03-31 09:47] 0crat commented on #58
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#58](https://github.com/artipie/maven-adapter/issues/58) is [in scope](http://www.zerocracy.com/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [6days](http://www.zerocracy.com/policy.html#8)

[2020-04-01 10:44] 0crat commented on #60
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-02 01:17] 0crat commented on #58
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#58](https://github.com/artipie/maven-adapter/issues/58), since the job is not in scope anymore

[2020-04-02 01:37] 0crat commented on #58
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.52.13](https://github.com/zerocracy/farm): CID: [5d986231-42f0-4999-820f-24bce1785cb5](https://www.0crat.com/footprint/CT2E6TK9B/5d986231-42f0-4999-820f-24bce1785cb5), Type: "Order was canceled"

[2020-04-02 06:39] g4s8 commented on #58
@0crat pay 30min @paulodamaso

[2020-04-02 06:40] #60 closed

[2020-04-02 06:40] 0pdd commented on #60
The puzzle `57-0a27a98f` has disappeared from the source code, that's why I closed this issue.

[2020-04-02 06:40] 0pdd commented on #54
@g4s8 2 puzzles [#56](https://github.com/artipie/maven-adapter/issues/56), [#62](https://github.com/artipie/maven-adapter/issues/62) are still not solved; solved: [#57](https://github.com/artipie/maven-adapter/issues/57), [#58](https://github.com/artipie/maven-adapter/issues/58), [#60](https://github.com/artipie/maven-adapter/issues/60).

[2020-04-02 06:40] 0pdd commented on #57
@0pdd the only puzzle [#60](https://github.com/artipie/maven-adapter/issues/60) is solved here.

[2020-04-02 07:03] 0crat commented on #60
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-02 07:43] sereshqua commented on #60
@0crat quality good

[2020-04-03 15:08] g4s8 commented on #62
@0crat in

[2020-04-03 15:12] g4s8 opened #64 "Maven repository HTTP API"
Let's investigate what API methods Maven repo supports and add these methods.
Start this task in following order:
 1. Documentation update: let's add specification and references about maven repo API in README
 2. Create integration tests for API
 3. Implement API methods.

Try to decompose this task as much as possible using todos (e.g. one todo per API)

[2020-04-03 17:03] 0crat commented on #62
The job [#62](https://github.com/artipie/maven-adapter/issues/62) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0e5f37b3-747b-473c-8484-a56abfd12ef0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-03 17:04] 0crat commented on #62
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-03 18:05] 0crat commented on #64
The job [#64](https://github.com/artipie/maven-adapter/issues/64) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ce8f6b72-c994-4fe9-a182-df781ea9b1f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-06 00:55] carlosmiranda commented on #62
@0crat refuse

[2020-04-06 00:55] carlosmiranda commented on #64
@0crat refuse

[2020-04-06 01:23] 0crat commented on #64
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#64](https://github.com/artipie/maven-adapter/issues/64), please stop working. Reason for job resignation: Order was cancelled

[2020-04-06 01:24] 0crat commented on #62
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#62](https://github.com/artipie/maven-adapter/issues/62), please stop working. Reason for job resignation: Order was cancelled

[2020-04-06 02:13] 0crat commented on #62
The job [#62](https://github.com/artipie/maven-adapter/issues/62) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0a63ae94-f757-4b30-8aac-b736a66cf982); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-06 02:23] 0crat commented on #64
The job [#64](https://github.com/artipie/maven-adapter/issues/64) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3c43e094-4b88-47fb-a3f5-204e96c50721); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-06 04:52] ammaratef45 commented on #64
@g4s8 I've tried to find something about Maven repo API and [this](https://search.maven.org/classic/#api) is what I found, is it what you meant?

[2020-04-06 07:04] g4s8 commented on #64
@ammaratef45 not exactly: first, we need HTTP endpoints for downloading and uploading (publishing) artifacts, so client `mvn` will be able to deploy an artifact using `mvn deploy` command and use this dependency then.

[2020-04-06 07:04] g4s8 commented on #60
@rultor release, tag=`0.1`

[2020-04-06 07:07] rultor commented on #60
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21699-609603986)

[2020-04-06 07:08] rultor commented on #60
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21699-609603986) (spent 13s)

[code]

[2020-04-06 15:39] ammaratef45 commented on #64
@0crat refuse

[2020-04-06 16:47] 0crat commented on #64
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#64](https://github.com/artipie/maven-adapter/issues/64), please stop working. Reason for job resignation: Order was cancelled

[2020-04-06 16:49] 0crat commented on #64
@ammaratef45 Job refused in 14 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-06 19:34] 0crat commented on #64
The job [#64](https://github.com/artipie/maven-adapter/issues/64) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9954ed00-4757-4337-9b6d-8139d1a1d317); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-07 17:46] victornoel commented on #62
@0crat wait for #65 to be merged

[2020-04-07 18:09] victornoel commented on #64
@g4s8 here is my current understanding

For downloading:
- maven only relies on typical ftp/http file serving and the existence of well known files containing metadata, there are no maven-specific HTTP endpoints as in, say, Docker

For uploading:
- maven can either use normal file publishing mean (such as ftp upload, webdav PUT, etc) as long as the uploaded files respect the metadata
  - this mean

[2020-04-07 18:09] victornoel commented on #64
@0crat wait for ARC

[2020-04-08 07:52] g4s8 commented on #64
@victornoel we need to determinate what HTTP we need for downloading and uploading artifact. E.g. what HTTP methods and paths uses `mvn` client to download dependency? What HTTP it uses to upload (`mvn deploy`)? We support only HTTP protocol, no need to support FTP or others. So this task is mostly about the research, since I don't know exactly what HTTP endpoints should be implemented.

[2020-04-08 07:53] #62 closed

[2020-04-08 07:53] 0pdd commented on #62
The puzzle `58-abf1aafd` has disappeared from the source code, that's why I closed this issue.

[2020-04-08 07:53] 0pdd commented on #54
@g4s8 the puzzle [#56](https://github.com/artipie/maven-adapter/issues/56) is still not solved; solved: [#57](https://github.com/artipie/maven-adapter/issues/57), [#58](https://github.com/artipie/maven-adapter/issues/58), [#60](https://github.com/artipie/maven-adapter/issues/60), [#62](https://github.com/artipie/maven-adapter/issues/62).

[2020-04-08 07:53] 0pdd commented on #58
@0pdd the only puzzle [#62](https://github.com/artipie/maven-adapter/issues/62) is solved here.

[2020-04-08 08:12] 0crat commented on #62
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-08 08:12] sereshqua commented on #62
@0crat quality good

[2020-04-08 11:22] olenagerasimova opened #66 "Update readme"
"A developer's entrypoint" and further information in readme file seem to be outdated, for example `Repository` interface is deprecated and does not have method `upload`.

May be it will be better to update readme after all deprecated classes will be refactored and removed.

[2020-04-08 11:22] 0crat commented on #66
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 12:49] 0crat commented on #66
The job [#66](https://github.com/artipie/maven-adapter/issues/66) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5724ef34-9b9e-4bce-a681-b27dfaf17c49); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-08 16:44] victornoel commented on #64
@g4s8 ok, I understood that, so it's good. How do you want me to deliver the first results? In the README? Can I put todos in it? Do you want me to validate with you the choices I make here first?

[2020-04-08 16:52] g4s8 commented on #64
@victornoel yes, readme would be good. You can put todos in readme using HTML comments:
[code]

Please ping me in the PR and I'd add some comments if needed.

[2020-04-10 10:16] g4s8 commented on #64
@0crat continue

[2020-04-10 15:02] victornoel commented on #64
@0crat status

[2020-04-10 16:40] paulodamaso commented on #57
@g4s8 I think I didn't got paid for this one, please take a look

[2020-04-10 17:16] victornoel commented on #64
@0crat status

[2020-04-10 17:22] 0crat commented on #64
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#64](https://github.com/artipie/maven-adapter/issues/64) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [4days](http://www.zerocracy.com/policy.html

[2020-04-10 17:22] 0crat commented on #64
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#64](https://github.com/artipie/maven-adapter/issues/64) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [4days](http://www.zerocracy.com/policy.html

[2020-04-11 08:22] victornoel commented on #64
@0crat wait for #67 to be merged

[2020-04-12 20:28] victornoel opened #68 "Link to travis badge in README is incorrect"
I noticed the link to the travis badge is incorrect in the README, it points to another repository

[2020-04-12 20:28] 0crat commented on #68
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 07:37] g4s8 commented on #68
@victornoel thanks, fixed: https://github.com/artipie/maven-adapter/commit/d2edb7468c9579d644c59763d4be4cfbc1632fde

[2020-04-13 07:37] #68 closed

[2020-04-13 07:59] 0crat commented on #68
Job `gh:artipie/maven-adapter#68` is not assigned, can't get performer

[2020-04-13 08:08] victornoel commented on #68
@g4s8 too bad the link points to the svg instead of the build page

[2020-04-13 11:29] g4s8 commented on #68
@victornoel oops, fixed

[2020-04-13 11:31] g4s8 commented on #57
@0crat status

[2020-04-13 11:32] 0crat commented on #57
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#57](https://github.com/artipie/maven-adapter/issues/57) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fmaven-adapter%2357%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-13 11:44] victornoel commented on #68
@g4s8 :+1: btw, did you notice this latest commit failed the build, it is the same error that happened in #67...

[2020-04-13 11:52] g4s8 commented on #57
@paulodamaso as I can see the payment was sent: https://www.0crat.com/footprint/CT2E6TK9B/71099498-eb44-45fd-bc4d-3be445a789ed

Can you check it in your wallet by looking for ticket id?

[2020-04-13 12:50] victornoel opened #69 "pom.xml file is not extending the common artipie ppom parent"
It seems the parent was missed in the maven-adapter `pom.xml` file.

So most of the configurations coming from it and jcabi-parent are missing.

[2020-04-13 12:50] 0crat commented on #69
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 12:52] victornoel commented on #69
@g4s8 also I think the compiler configuration would be better with a `combine.children` of `append` on its `testExcludes` to get the default ones from jcabi-parent:
[code]

[2020-04-13 13:37] victornoel opened #70 "AstoFileTest is missing call to get for CompletableFuture"
Apparently the build fails from time to time (see #67 and https://github.com/artipie/maven-adapter/issues/68#issuecomment-612866491).

The problem is that the `AstoFileTest` tests are using `asto.save` that returns a `CompletableFuture` and `get` is not called on it, so the test does not wait for the future to complete before continuing.

[2020-04-13 13:37] 0crat commented on #70
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 13:37] victornoel commented on #68
@g4s8 see #70 for the explanation and a proposed fix

[2020-04-13 13:45] 0crat commented on #66
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-13 14:55] 0crat commented on #69
The job [#69](https://github.com/artipie/maven-adapter/issues/69) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e61c51ae-2f71-40d7-ac19-9854f8e5bb8d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-13 15:50] ammaratef45 commented on #69
@0crat refuse

[2020-04-13 15:57] 0crat commented on #69
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#69](https://github.com/artipie/maven-adapter/issues/69), please stop working. Reason for job resignation: Order was cancelled

[2020-04-13 15:57] 0crat commented on #69
@ammaratef45 Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-14 18:06] paulodamaso commented on #57
@g4s8 I found it in my wallet, thank you

[2020-04-15 12:12] 0pdd opened #71 "README.md:35-38: Continue working in the Maven HTTP API..."
The puzzle `64-a4ea9323` from #64 has to be resolved:

https://github.com/artipie/maven-adapter/blob/2a0fdc0c6fc82fac672a79afd070cd30e364421d/README.md#L35-L38

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2020-04-15 12:12] 0pdd opened #72 "README.md:46-50: Continue working in the Maven HTTP API..."
The puzzle `64-cc923fd8` from #64 has to be resolved:

https://github.com/artipie/maven-adapter/blob/2a0fdc0c6fc82fac672a79afd070cd30e364421d/README.md#L46-L50

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2020-04-15 12:12] 0pdd commented on #64
@g4s8 2 puzzles [#71](https://github.com/artipie/maven-adapter/issues/71), [#72](https://github.com/artipie/maven-adapter/issues/72) are still not solved.

[2020-04-15 12:12] 0crat commented on #72
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-15 12:13] 0crat commented on #71
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-15 12:15] victornoel commented on #64
@g4s8 this issue can now be closed, the work continue in the todos added via #67 :)

[2020-04-15 12:18] g4s8 commented on #64
@victornoel thanks!

[2020-04-15 12:18] #64 closed

[2020-04-15 13:07] 0crat commented on #64
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-15 13:50] sereshqua commented on #64
@0crat quality good

[2020-04-16 07:49] g4s8 commented on #71
@0crat assign @victornoel

[2020-04-16 08:00] 0crat commented on #72
The job [#72](https://github.com/artipie/maven-adapter/issues/72) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/aa42bb88-c89b-449c-a2b5-6f0114bcb8c8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-16 08:03] 0crat commented on #70
The job [#70](https://github.com/artipie/maven-adapter/issues/70) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ebaa231a-8e76-4bfd-b400-a184cae99455); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-16 08:04] 0crat commented on #71
@g4s8 The job [#71](https://github.com/artipie/maven-adapter/issues/71) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9dd7bb99-4ffe-432a-a688-192993405d58); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-16 08:23] 0crat commented on #69
The job [#69](https://github.com/artipie/maven-adapter/issues/69) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2c624770-0f6e-4ad5-b144-8558da3fdb14); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-16 13:58] paulodamaso commented on #66
@0crat wait for #74 merge

[2020-04-18 15:16] victornoel commented on #69
@carlosmiranda please do not forget to setup the test logging as in the other projects too (by having the log4j.properties file, jcabi parent will activate the right dependencies) because right now the test logs are extremely verbose, it's really bothering.

[2020-04-18 15:27] victornoel commented on #71
@0crat wait for #75 to be merged

[2020-04-18 15:32] victornoel commented on #72
@paulodamaso see #75 and https://github.com/apache/maven-resolver/tree/master/maven-resolver-demos/maven-resolver-demo-snippets/src/main/java/org/apache/maven/resolver/examples for some ideas as to how test upload :)

[2020-04-18 15:34] victornoel commented on #70
@paulodamaso thx

[2020-04-18 15:34] #70 closed

[2020-04-18 16:56] 0crat commented on #70
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-18 16:57] sereshqua commented on #70
@0crat quality good

[2020-04-21 08:55] 0crat commented on #72
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-21 11:19] 0crat commented on #69
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-21 19:21] paulodamaso commented on #66
@g4s8 Merged, please close

[2020-04-21 19:22] paulodamaso commented on #66
@olenagerasimova Merged, please close

[2020-04-22 04:32] olenagerasimova commented on #66
@paulodamaso thanks

[2020-04-22 04:33] #66 closed

[2020-04-23 03:21] carlosmiranda commented on #69
@victornoel @g4s8 see PR #76.

[2020-04-23 03:22] carlosmiranda commented on #69
@0crat wait for merge of PR #76.

[2020-04-23 08:58] g4s8 commented on #69
@0crat status

[2020-04-23 09:00] 0crat commented on #69
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#69](https://github.com/artipie/maven-adapter/issues/69) is [in scope](http://www.zerocracy.com/policy.html#14) for 10days
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [7days](http://www.zerocracy.com/policy.htm

[2020-04-23 09:49] #71 closed

[2020-04-23 09:49] 0pdd commented on #71
The puzzle `64-a4ea9323` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 09:50] 0pdd opened #77 "MavenHttpITCase.java:54-60: Continue working on the Maven..."
The puzzle `71-c580cc48` from #71 has to be resolved:

https://github.com/artipie/maven-adapter/blob/5b28adac2ca120045ea9b7c0fa5205949d376ccb/src/test/java/com/artipie/maven/MavenHttpITCase.java#L54-L60

The puzzle was created by @g4s8 on 23-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-23 09:50] 0pdd commented on #64
@g4s8 2 puzzles [#72](https://github.com/artipie/maven-adapter/issues/72), [#77](https://github.com/artipie/maven-adapter/issues/77) are still not solved; solved: [#71](https://github.com/artipie/maven-adapter/issues/71).

[2020-04-23 09:50] 0pdd commented on #71
@0pdd the puzzle [#77](https://github.com/artipie/maven-adapter/issues/77) is still not solved.

[2020-04-23 09:51] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-23 11:36] g4s8 commented on #66
@0crat out

[2020-04-23 12:10] carlosmiranda commented on #69
@victornoel done in #76, may we close now?

[2020-04-23 12:58] 0crat commented on #77
The job [#77](https://github.com/artipie/maven-adapter/issues/77) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0eb43cf1-0bda-4bba-a373-7ad505e95423); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-23 13:53] victornoel commented on #69
@carlosmiranda I'm sorry but you forgot to remove the extra slf4 implementation from the pom as requested, see https://github.com/artipie/maven-adapter/issues/69#issuecomment-615887872, https://github.com/artipie/maven-adapter/pull/76#issuecomment-618321711 and https://github.com/artipie/maven-adapter/blob/266207df9ef358b224fc06718fc7f859c6e35a6f/pom.xml#L87-L92

[2020-04-23 14:17] 0crat commented on #71
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-23 14:20] sereshqua commented on #71
@0crat quality good

[2020-04-23 15:56] 0crat commented on #66
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-23 16:02] sereshqua commented on #66
@0crat quality good

[2020-04-23 17:54] #41 closed

[2020-04-23 17:54] 0pdd commented on #41
The puzzle `10-5f36658f` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 17:54] #44 closed

[2020-04-23 17:54] 0pdd commented on #44
The puzzle `37-329dc9a9` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 17:54] g4s8 commented on #77
@rultor release, tag=`0.1`

[2020-04-23 17:54] #53 closed

[2020-04-23 17:54] 0pdd commented on #53
The puzzle `37-15918c08` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 17:54] #77 closed

[2020-04-23 17:54] 0pdd commented on #77
The puzzle `71-c580cc48` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 17:55] 0pdd commented on #10
@Nimmaster the only puzzle [#41](https://github.com/artipie/maven-adapter/issues/41) is solved here.

[2020-04-23 17:55] 0pdd commented on #37
@Nimmaster all 2 puzzles are solved here: [#44](https://github.com/artipie/maven-adapter/issues/44), [#53](https://github.com/artipie/maven-adapter/issues/53).

[2020-04-23 17:55] 0pdd commented on #64
@g4s8 the puzzle [#72](https://github.com/artipie/maven-adapter/issues/72) is still not solved; solved: [#71](https://github.com/artipie/maven-adapter/issues/71), [#77](https://github.com/artipie/maven-adapter/issues/77).

[2020-04-23 17:55] 0pdd commented on #71
@0pdd the only puzzle [#77](https://github.com/artipie/maven-adapter/issues/77) is solved here.

[2020-04-23 17:56] rultor commented on #77
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21867-618550278) (spent 15s)

[code]

[2020-04-23 18:50] g4s8 commented on #77
@rultor release, tag=`0.1`

[2020-04-23 19:00] rultor commented on #77
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21867-618588609) (took me 9min)

[2020-04-24 01:30] carlosmiranda commented on #69
@victornoel it's not there anymore. @g4s8 removed it in https://github.com/artipie/maven-adapter/pull/78/files too.

[2020-04-24 21:46] paulodamaso commented on #72
@0crat refuse

[2020-04-24 21:51] 0crat commented on #72
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#72](https://github.com/artipie/maven-adapter/issues/72), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 23:51] 0crat commented on #72
The job [#72](https://github.com/artipie/maven-adapter/issues/72) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2e18f1df-1980-416d-b985-619fa908f577); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-25 08:02] HDouss commented on #72
@0crat refuse

[2020-04-25 08:28] 0crat commented on #72
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#72](https://github.com/artipie/maven-adapter/issues/72), please stop working. Reason for job resignation: Order was cancelled

[2020-04-25 08:28] 0crat commented on #72
@HDouss Job refused in 8 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-25 10:16] victornoel commented on #69
@carlosmiranda perfect, I missed that :)

[2020-04-25 10:16] #69 closed

[2020-04-25 10:34] 0crat commented on #69
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-25 16:34] sereshqua commented on #69
@0crat quality good

[2020-04-25 17:51] 0crat commented on #72
The job [#72](https://github.com/artipie/maven-adapter/issues/72) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8415d587-b48a-42b1-85de-c78f208e0c89); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-29 03:11] carlosmiranda commented on #72
@0crat refuse

[2020-04-29 03:46] 0crat commented on #72
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#72](https://github.com/artipie/maven-adapter/issues/72), please stop working. Reason for job resignation: Order was cancelled

[2020-04-29 05:51] 0crat commented on #72
The job [#72](https://github.com/artipie/maven-adapter/issues/72) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8ce9b926-9e5c-4602-b4e7-2a08adf678bc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-29 14:37] ammaratef45 commented on #72
@0crat refuse

[2020-04-29 14:46] 0crat commented on #72
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#72](https://github.com/artipie/maven-adapter/issues/72), please stop working. Reason for job resignation: Order was cancelled

[2020-04-29 14:46] 0crat commented on #72
@ammaratef45 Job refused in 8 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-29 15:03] IlyaMoskva opened #79 "Add Basic auth to maven adapter"
Use http v8.4

[2020-04-29 15:04] 0crat commented on #79
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-29 15:41] g4s8 commented on #72
@0crat assign @victornoel

[2020-04-29 16:03] 0crat commented on #72
@g4s8 The job [#72](https://github.com/artipie/maven-adapter/issues/72) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3c817ae2-1ade-4652-8a90-3e2acd572d90); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-01 11:12] victornoel commented on #72
@0crat status

[2020-05-01 11:21] 0crat commented on #72
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#72](https://github.com/artipie/maven-adapter/issues/72) is [in scope](http://www.zerocracy.com/policy.html#14) for 16days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [2days](http://www.zerocracy.com/policy.htm

[2020-05-01 13:15] victornoel commented on #72
@g4s8 from what I gather, with Maven, all the intelligence is in the client, not the server. So when deploying, the server is doing nothing more than being a simple web server.

So is this what is expected to be done here? To make everything so that `MavenSlice` is just a file-serving web server? Or is there more functionality needed, for example to create the metadata files and so on? Usually it

[2020-05-01 17:38] g4s8 commented on #72
@victornoel it seems to be true but with one note: we have to update metadata and generate checksums after new upload (using `Maven` class to generate metadata for repository)

[2020-05-03 09:58] victornoel commented on #72
@g4s8 that's my point, I don't think maven is meant to work like that:
- you upload an artefact via an api
- the server is smart and updates the metadata to have a consistent repository

but like that:
- you generates new metadata, checksum, etc for your artefacts
  - it is the job of the maven-deploy-plugin
- you upload them via http and the server is dumb

So in practice, we just need to add an

[2020-05-04 16:47] 0crat commented on #72
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-04 16:49] victornoel commented on #72
@0crat wait for ARC answer

[2020-05-04 20:08] g4s8 commented on #72
@victornoel we have two different kinds of metadata: you're speaking about artifact metadata, it's correct that Maven clients is generating this metadata and uploading it via HTTP. But we also have repository metadata, Maven client is not able to know this kind of metadata, and we need to update only repository metadata and repository checksums. E.g. see this link as an example of repository metad

[2020-05-06 13:55] #34 closed

[2020-05-06 13:55] #36 closed

[2020-05-06 13:55] #46 closed

[2020-05-06 13:55] #51 closed

[2020-05-06 13:55] #52 closed

[2020-05-06 13:55] #56 closed

[2020-05-06 14:12] 0crat commented on #34
Job `gh:artipie/maven-adapter#34` is not assigned, can't get performer

[2020-05-06 14:12] 0crat commented on #56
Job `gh:artipie/maven-adapter#56` is not assigned, can't get performer

[2020-05-06 14:12] 0crat commented on #51
Job `gh:artipie/maven-adapter#51` is not assigned, can't get performer

[2020-05-06 14:13] 0crat commented on #52
Job `gh:artipie/maven-adapter#52` is not assigned, can't get performer

[2020-05-06 14:13] 0crat commented on #36
Job `gh:artipie/maven-adapter#36` is not assigned, can't get performer

[2020-05-06 14:13] 0crat commented on #46
Job `gh:artipie/maven-adapter#46` is not assigned, can't get performer

[2020-05-06 16:24] victornoel commented on #72
@g4s8 actually also this file is uploaded by maven-deploy-plugin (I have an IT test to support this assertion): it downloads the previous one, update it and send it again.

The only way I know to decouple the act of uploading an artifact from the act of managing the repository metadata is via the usage of ad-hoc plugins such as sonatype plugin for deploy that gives the ability to have a staging ar

[2020-05-07 06:55] g4s8 commented on #72
@victornoel can we just trigger repository metadata update on upload?
 1. User uploads artifact using maven deploy plugin
 2. Artipie saves this artifact and update repository metadata file

We can start with just upload support to verify that deploy plugin is able to work with Artipie API.

[2020-05-07 06:58] g4s8 opened #81 "Snapshot repository support"
Let's support snapshot repositories. Start with investigating how snapshot repository works (add it to the readme), then implement integration tests, then actual implementation.

[2020-05-07 06:59] g4s8 commented on #79
@IlyaMoskva PR was merged, thanks.

[2020-05-07 06:59] #79 closed

[2020-05-07 07:02] g4s8 commented on #17
Fixed

[2020-05-07 07:02] #17 closed

[2020-05-07 07:16] 0crat commented on #79
Job `gh:artipie/maven-adapter#79` is not assigned, can't get performer

[2020-05-07 07:19] 0crat commented on #17
Job `gh:artipie/maven-adapter#17` is not assigned, can't get performer

[2020-05-07 07:45] 0crat commented on #81
The job [#81](https://github.com/artipie/maven-adapter/issues/81) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/35965dad-b305-49d3-b9ff-403602f7d6e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-07 17:23] victornoel commented on #72
@g4s8 I will make a PR, but you have to understand that we can't choose how maven-deploy-plugin behave: if it decides to upload repository metadata, we can only validate them and fail if there are not valid... or ignore them and generate them ourselves? Anyway, I will create a todo that highlight those concerns.

[2020-05-08 06:32] carlosmiranda commented on #81
@0crat refuse

[2020-05-08 06:49] 0crat commented on #81
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#81](https://github.com/artipie/maven-adapter/issues/81), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 06:50] 0crat commented on #81
@carlosmiranda Job refused in 23 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-08 11:46] 0crat commented on #81
The job [#81](https://github.com/artipie/maven-adapter/issues/81) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1b6fab62-b78c-4d23-8a11-9c56f71443ec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-08 16:50] victornoel commented on #72
@0crat wait for #82 to be merged

[2020-05-08 16:57] 0crat commented on #72
@victornoel Job [#72](https://github.com/artipie/maven-adapter/issues/72) is already on hold

[2020-05-11 11:54] 0pdd commented on #72
The puzzle `64-cc923fd8` has disappeared from the source code, that's why I closed this issue.

[2020-05-11 11:54] #72 closed

[2020-05-11 11:54] 0pdd opened #83 "MavenSlice.java:45-47: Continue working on the Maven HTTP..."
The puzzle `72-b493e50d` from #72 has to be resolved:

https://github.com/artipie/maven-adapter/blob/c7d545c0c1938e31fbaf3161f27e17502608f4d3/src/main/java/com/artipie/maven/http/MavenSlice.java#L45-L47

The puzzle was created by Victor Noël on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-05-11 11:54] 0pdd opened #84 "MavenHttpITCase.java:70-72: For some unknown reason the..."
The puzzle `72-e21c7763` from #72 has to be resolved:

https://github.com/artipie/maven-adapter/blob/c7d545c0c1938e31fbaf3161f27e17502608f4d3/src/test/java/com/artipie/maven/MavenHttpITCase.java#L70-L72

The puzzle was created by Victor Noël on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-05-11 11:55] 0pdd opened #85 "MavenHttpITCase.java:158-164: For now the generation of..."
The puzzle `72-9e640b6a` from #72 has to be resolved:

https://github.com/artipie/maven-adapter/blob/c7d545c0c1938e31fbaf3161f27e17502608f4d3/src/test/java/com/artipie/maven/MavenHttpITCase.java#L158-L164

The puzzle was created by Victor Noël on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-05-11 11:55] g4s8 commented on #72
@rultor release, tag=`0.2`

[2020-05-11 11:55] 0pdd commented on #64
@g4s8 3 puzzles [#83](https://github.com/artipie/maven-adapter/issues/83), [#84](https://github.com/artipie/maven-adapter/issues/84), [#85](https://github.com/artipie/maven-adapter/issues/85) are still not solved; solved: [#71](https://github.com/artipie/maven-adapter/issues/71), [#72](https://github.com/artipie/maven-adapter/issues/72), [#77](https://github.com/artipie/maven-adapter/issues/77).

[2020-05-11 11:55] 0pdd commented on #72
@0pdd 3 puzzles [#83](https://github.com/artipie/maven-adapter/issues/83), [#84](https://github.com/artipie/maven-adapter/issues/84), [#85](https://github.com/artipie/maven-adapter/issues/85) are still not solved.

[2020-05-11 11:56] 0crat commented on #85
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 11:56] rultor commented on #72
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22019-626656307)

[2020-05-11 11:56] 0crat commented on #84
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 11:56] 0crat commented on #83
The job [#83](https://github.com/artipie/maven-adapter/issues/83) assigned to @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/00f56389-960a-4e27-af32-e044eccbe337); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-11 11:56] 0crat commented on #83
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 11:56] rultor commented on #72
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22019-626656307) (spent 17s)

[code]

[2020-05-11 11:59] 0crat commented on #85
The job [#85](https://github.com/artipie/maven-adapter/issues/85) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cccea600-b558-4e9a-93dc-9557f1360f70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-05-11 12:14] 0crat commented on #72
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-11 12:47] 0crat commented on #84
The job [#84](https://github.com/artipie/maven-adapter/issues/84) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2193a12f-fcc6-4eea-bf8c-c4eb3c835b80); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-11 16:36] sereshqua commented on #72
@0crat quality good

[2020-05-12 06:42] g4s8 commented on #72
@rultor release, tag=`0.2`

[2020-05-12 06:43] rultor commented on #72
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22019-627145540)

[2020-05-12 06:52] rultor commented on #72
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22019-627145540) (took me 9min)

[2020-05-13 02:06] paulodamaso commented on #81
@g4s8 I've made a brief research on snapshot repositories and I've come to the following [link](https://blog.packagecloud.io/eng/2017/03/09/how-does-a-maven-repository-work/#release-and-snapshot-repositories), but I don't think it's a good idea to add it to `README.md` right now: this file has too much leftovers from previous implementation that adding new info to would just mess it more. I propos

[2020-05-13 05:59] carlosmiranda commented on #84
@0crat refuse

[2020-05-13 06:07] 0crat commented on #84
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#84](https://github.com/artipie/maven-adapter/issues/84), please stop working. Reason for job resignation: Order was cancelled

[2020-05-13 06:47] 0crat commented on #84
The job [#84](https://github.com/artipie/maven-adapter/issues/84) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f429feb0-be39-40fc-978d-46e8582029d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-13 07:47] victornoel commented on #84
@0crat refuse

[2020-05-13 07:58] 0crat commented on #84
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#84](https://github.com/artipie/maven-adapter/issues/84), please stop working. Reason for job resignation: Order was cancelled

[2020-05-13 07:58] 0crat commented on #84
@victornoel Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-13 12:47] 0crat commented on #81
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 14:35] g4s8 commented on #81
@paulodamaso I agree, but I don't think it's in scope of this ticket. Can you please submit separate ticket and describe what to clean up and I'll add it to scope

[2020-05-16 14:47] 0crat commented on #83
@ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-18 08:36] g4s8 opened #87 "Return text list for repo or artifact request"
Let's reutrn simple text list (or primitive HTML list) of items in repo or artifact paths. E.g. if the request is pointing to repository like `host/maven/` then we should return list of artifacts in this repo, same for artifact `host/mave/com/artipie/asto` reutrns list of metadata and versions.
Similar to Maven central:
 - https://repo.maven.apache.org/maven2/com/artipie/asto/
 - https://repo.mave

[2020-05-18 09:56] 0crat commented on #87
The job [#87](https://github.com/artipie/maven-adapter/issues/87) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6f634783-0d3f-477e-b213-f700b210bf92); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-18 20:35] paulodamaso commented on #81
@0crat wait I've lost some days due https://github.com/artipie/maven-adapter/issues/81#issuecomment-627700715

[2020-05-19 08:40] g4s8 commented on #83
@rultor release, tag=`0.2.1`

[2020-05-19 08:41] rultor commented on #83
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22095-630675818)

[2020-05-19 08:50] rultor commented on #83
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22095-630675818) (took me 9min)

[2020-05-20 07:38] IlyaMoskva commented on #83
@g4s8 May we close it?

[2020-05-20 13:18] g4s8 commented on #83
@IlyaMoskva yes, thanks

[2020-05-20 13:18] #83 closed

[2020-05-20 13:49] 0crat commented on #83
Job [#83](https://github.com/artipie/maven-adapter/issues/83) is not in the agenda of @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), can't set title

[2020-05-20 13:51] 0crat commented on #83
Job [#83](https://github.com/artipie/maven-adapter/issues/83) is not in the agenda of @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), can't set title

[2020-05-20 13:51] 0crat commented on #83
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-20 14:20] sereshqua commented on #83
@0crat quality good

[2020-05-21 11:35] victornoel commented on #87
@0crat wait for artipie/http#158

[2020-05-24 21:49] paulodamaso opened #89 "README.md cleanup"
`README.md` has leftovers from previous implementations which does not apply to current project structure. We need to do a cleanup, removing or correcting the following items:
- "maven-adapter": correct project description, it does not depends on 'org.apache.maven' and 'org.eclipse.aether' anymore
- "how it works": we have some documentation on how maven works in "files" and "layout" topics, maybe

[2020-05-24 21:49] 0crat commented on #89
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-24 21:49] paulodamaso commented on #81
@g4s8 filed an issue, please take a look at https://github.com/artipie/maven-adapter/issues/89

[2020-05-24 21:50] paulodamaso commented on #81
@0crat wait for https://github.com/artipie/maven-adapter/issues/89

[2020-05-24 21:56] 0crat commented on #81
@paulodamaso Job [#81](https://github.com/artipie/maven-adapter/issues/81) is already on hold

[2020-05-25 10:17] 0crat commented on #89
The job [#89](https://github.com/artipie/maven-adapter/issues/89) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3546353a-bd38-446b-8869-4fc380399524); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-25 17:53] victornoel commented on #89
@0crat refuse

[2020-05-25 17:54] 0crat commented on #89
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#89](https://github.com/artipie/maven-adapter/issues/89), please stop working. Reason for job resignation: Order was cancelled

[2020-05-25 17:54] 0crat commented on #89
@victornoel Job refused in 7 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-25 18:32] paulodamaso commented on #89
@g4s8 please assign me

[2020-05-26 09:14] g4s8 commented on #89
@0crat assign @paulodamaso

[2020-05-26 09:16] 0crat commented on #89
@g4s8 The job [#89](https://github.com/artipie/maven-adapter/issues/89) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2d062ac2-2919-452f-b2a9-c6f74c2f5a22); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-05-26 17:13] victornoel commented on #87
@0crat status

[2020-05-26 17:33] victornoel commented on #87
@0crat status

[2020-05-26 17:34] 0crat commented on #87
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#87](https://github.com/artipie/maven-adapter/issues/87) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fmaven-adapter%2387%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-26 17:34] 0crat commented on #87
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#87](https://github.com/artipie/maven-adapter/issues/87) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fmaven-adapter%2387%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-27 11:35] g4s8 commented on #87
@0crat assign @victornoel

[2020-05-27 11:50] 0crat commented on #87
@g4s8 The job [#87](https://github.com/artipie/maven-adapter/issues/87) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3e29e88c-aff7-433c-8e33-d3c075bdc0b5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-27 13:06] g4s8 commented on #87
@0crat assign @victornoel

[2020-05-28 03:09] paulodamaso commented on #81
@0crat status

[2020-05-28 03:10] 0crat commented on #81
@paulodamaso This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#81](https://github.com/artipie/maven-adapter/issues/81) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fmaven-adapter%2381%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-28 10:48] #85 closed

[2020-05-28 10:48] 0pdd commented on #85
The puzzle `72-9e640b6a` has disappeared from the source code, that's why I closed this issue.

[2020-05-28 10:48] 0pdd opened #91 "Maven.java:43-50: Generate valid checksums on metadata..."
The puzzle `85-bba77ac2` from #85 has to be resolved:

https://github.com/artipie/maven-adapter/blob/0c902ca27be52762e6eb008e618534f36a19cc52/src/main/java/com/artipie/maven/Maven.java#L43-L50

The puzzle was created by @g4s8 on 21-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-05-28 10:48] 0pdd commented on #64
@g4s8 2 puzzles [#84](https://github.com/artipie/maven-adapter/issues/84), [#91](https://github.com/artipie/maven-adapter/issues/91) are still not solved; solved: [#71](https://github.com/artipie/maven-adapter/issues/71), [#72](https://github.com/artipie/maven-adapter/issues/72), [#77](https://github.com/artipie/maven-adapter/issues/77), [#83](https://github.com/artipie/maven-adapter/issues/83), [

[2020-05-28 10:48] 0pdd commented on #72
@0pdd 2 puzzles [#84](https://github.com/artipie/maven-adapter/issues/84), [#91](https://github.com/artipie/maven-adapter/issues/91) are still not solved; solved: [#83](https://github.com/artipie/maven-adapter/issues/83), [#85](https://github.com/artipie/maven-adapter/issues/85).

[2020-05-28 10:48] 0pdd commented on #85
@0pdd the puzzle [#91](https://github.com/artipie/maven-adapter/issues/91) is still not solved.

[2020-05-28 10:50] 0crat commented on #91
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 10:51] g4s8 commented on #85
@rultor release, tag=`0.3`

[2020-05-28 10:52] rultor commented on #85
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22207-635267096)

[2020-05-28 11:01] rultor commented on #85
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22207-635267096) (spent 8min)

[code]

[2020-05-28 11:28] g4s8 commented on #85
@rultor release, tag=`0.3`

[2020-05-28 11:29] rultor commented on #85
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22207-635282496)

[2020-05-28 11:40] rultor commented on #85
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22207-635282496) (took me 11min)

[2020-05-29 14:03] g4s8 opened #92 "Maven proxy"
Implement Maven proxy repository (or Maven mirror) with authentication and cache support. Maven mirrors are described here: https://maven.apache.org/guides/mini/guide-mirror-settings.html

## Multi-remote

Maven proxy can be used to merge multiple remote repositories into single one. In this case, proxy repository is trying to access remotes one by one in specified order until find applicable arti

[2020-05-29 14:04] 0crat commented on #92
The job [#92](https://github.com/artipie/maven-adapter/issues/92) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9ad0b00e-966f-498d-9621-bb6ec3c90172); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-29 15:50] 0crat commented on #91
The job [#91](https://github.com/artipie/maven-adapter/issues/91) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/437b0903-f083-4b58-bf0e-9ec73c1f2bdc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-30 10:00] victornoel commented on #87
@0crat wait for artipie/http#158

[2020-05-30 20:02] paulodamaso commented on #81
@g4s8 please assign it to me

[2020-05-31 12:24] victornoel commented on #92
@g4s8 So I was thinking about the following design
- one `MavenSlice`
  - protected as it currently is
- multiple `MavenRepository` client implementation
  - `LocalMavenRepository` would be the current behaviour looking for the files locally
  - `RemoteMavenRepository` would be getting artefacts from a remote repository
    - it will also manage auth and cache
  - `MavenRepositories` that would ha

[2020-05-31 12:24] victornoel commented on #92
@0crat wait for design to be finished

[2020-06-01 06:42] g4s8 commented on #92
@victornoel thanks, sounds good. Just a few questions:
 - What is the `*Repository` in your example (local or remote), is it a subtype of `Slice` or some new abstraction?
 - "> We should be careful about being deterministic with respect to serving ALL the files" - as I know, standard `mvn` client uses this policy: it may have multiple repository configurations in `settings.xml` and it's looking fo

[2020-06-01 10:36] victornoel commented on #92
@g4s8

I was thinking a new abstraction, but made to have the `MavenSlice` as its only user, so it is providing behaviour for retrieving files and `MavenSlice` will delegate to it.

That's not what I am talking about, I'm talking about preventing a situation where the jar is retrieved from one of the remote repository and the pom is retrieved from another one.

I'm not sure, it's complex. I suppos

[2020-06-01 11:07] g4s8 commented on #92
@victornoel

Got it, I think we can try to load the whole artifact content only from one remote source.

Yes we can start with the simplest possible way.

Agree, what part is not clear now? (I mean in global feature scope)

[2020-06-01 11:22] g4s8 commented on #81
@0crat assign @paulodamaso

[2020-06-01 11:23] 0crat commented on #81
@g4s8 The job [#81](https://github.com/artipie/maven-adapter/issues/81) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a923d2b5-24b9-4d02-8b40-463e9068faec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-06-01 16:37] #89 closed

[2020-06-01 16:54] victornoel commented on #92
@g4s8

now it's clear, I was confused I think :) I will make a PR with the new interfaces/classes and todos. Can we boost the job maybe?

[2020-06-01 16:58] 0crat commented on #89
Job `gh:artipie/maven-adapter#89` is not assigned, can't get performer

[2020-06-02 07:28] g4s8 commented on #92
@victornoel yes, sure, thanks.

[2020-06-02 07:28] g4s8 commented on #92
@0crat boost 4x

[2020-06-02 07:29] 0crat commented on #92
@g4s8 Boost 4x was set for [#92](https://github.com/artipie/maven-adapter/issues/92)

[2020-06-03 16:47] 0crat commented on #91
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-04 16:32] g4s8 commented on #92
@rultor release, tag=`0.4`

[2020-06-04 16:34] rultor commented on #92
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22275-638968036)

[2020-06-04 16:49] rultor commented on #92
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22275-638968036) (took me 15min)

[2020-06-06 10:51] victornoel commented on #92
@g4s8 see #94 :)

[2020-06-06 19:10] paulodamaso commented on #89
@g4s8 please take a look at this one

[2020-06-08 09:19] g4s8 commented on #89
@0crat status

[2020-06-08 09:50] 0crat commented on #89
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#89](https://github.com/artipie/maven-adapter/issues/89) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fmaven-adapter%2389%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-08 12:29] g4s8 commented on #89
@0crat pay 30min @paulodamaso

[2020-06-08 16:53] g4s8 commented on #92
@0crat status

[2020-06-08 16:53] 0pdd opened #95 "Repository.java:35-44: Continue working on implementing a..."
The puzzle `92-1b44735d` from #92 has to be resolved:

https://github.com/artipie/maven-adapter/blob/b27e9357fe708110c1e6c1df13546da285d581df/src/main/java/com/artipie/maven/repository/Repository.java#L35-L44

The puzzle was created by Victor Noël on 06-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-06-08 16:53] 0pdd opened #96 "Repository.java:45-48: For now this interface returns a..."
The puzzle `92-8515f940` from #92 has to be resolved:

https://github.com/artipie/maven-adapter/blob/b27e9357fe708110c1e6c1df13546da285d581df/src/main/java/com/artipie/maven/repository/Repository.java#L45-L48

The puzzle was created by Victor Noël on 06-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-06-08 16:53] 0pdd opened #97 "RpRemote.java:48-50: Introduce constructor parameters to..."
The puzzle `92-97bb0a49` from #92 has to be resolved:

https://github.com/artipie/maven-adapter/blob/b27e9357fe708110c1e6c1df13546da285d581df/src/main/java/com/artipie/maven/repository/RpRemote.java#L48-L50

The puzzle was created by Victor Noël on 06-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-06-08 16:53] 0pdd opened #98 "RpRemote.java:51-53: Add support for caching the..."
The puzzle `92-c03a78f8` from #92 has to be resolved:

https://github.com/artipie/maven-adapter/blob/b27e9357fe708110c1e6c1df13546da285d581df/src/main/java/com/artipie/maven/repository/RpRemote.java#L51-L53

The puzzle was created by Victor Noël on 06-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-06-08 16:53] 0pdd commented on #92
@g4s8 4 puzzles [#95](https://github.com/artipie/maven-adapter/issues/95), [#96](https://github.com/artipie/maven-adapter/issues/96), [#97](https://github.com/artipie/maven-adapter/issues/97), [#98](https://github.com/artipie/maven-adapter/issues/98) are still not solved.

[2020-06-08 16:57] 0crat commented on #92
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#92](https://github.com/artipie/maven-adapter/issues/92) is [in scope](http://www.zerocracy.com/policy.html#14) for 10days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [10days](http://www.zerocracy.com/policy.html#8)

[2020-06-08 16:59] g4s8 commented on #92
@victornoel thanks, closing.

[2020-06-08 16:59] #92 closed

[2020-06-08 17:17] 0crat commented on #92
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-08 17:18] sereshqua commented on #92
@0crat quality good

[2020-06-10 06:21] #91 closed

[2020-06-10 06:21] 0pdd commented on #91
The puzzle `85-bba77ac2` has disappeared from the source code, that's why I closed this issue.

[2020-06-10 06:21] 0pdd opened #99 "Maven.java:43-51: Generate valid checksums on metadata..."
The puzzle `91-f4650219` from #91 has to be resolved:

https://github.com/artipie/maven-adapter/blob/ed81f6cb670ad8c38b65ebb25545279a007b7d37/src/main/java/com/artipie/maven/Maven.java#L43-L51

The puzzle was created by paulodamaso on 31-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-06-10 06:21] 0pdd commented on #64
@g4s8 2 puzzles [#84](https://github.com/artipie/maven-adapter/issues/84), [#99](https://github.com/artipie/maven-adapter/issues/99) are still not solved; solved: [#71](https://github.com/artipie/maven-adapter/issues/71), [#72](https://github.com/artipie/maven-adapter/issues/72), [#77](https://github.com/artipie/maven-adapter/issues/77), [#83](https://github.com/artipie/maven-adapter/issues/83), [

[2020-06-10 06:21] 0pdd commented on #72
@0pdd 2 puzzles [#84](https://github.com/artipie/maven-adapter/issues/84), [#99](https://github.com/artipie/maven-adapter/issues/99) are still not solved; solved: [#83](https://github.com/artipie/maven-adapter/issues/83), [#85](https://github.com/artipie/maven-adapter/issues/85), [#91](https://github.com/artipie/maven-adapter/issues/91).

[2020-06-10 06:21] 0pdd commented on #85
@0pdd the puzzle [#99](https://github.com/artipie/maven-adapter/issues/99) is still not solved; solved: [#91](https://github.com/artipie/maven-adapter/issues/91).

[2020-06-10 06:21] 0pdd commented on #91
@0pdd the puzzle [#99](https://github.com/artipie/maven-adapter/issues/99) is still not solved.

[2020-06-10 06:22] 0crat commented on #99
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-10 06:44] 0crat commented on #91
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-10 06:58] sereshqua commented on #91
@0crat quality good

[2020-06-11 07:15] 0crat commented on #96
The job [#96](https://github.com/artipie/maven-adapter/issues/96) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0ee12b9e-d5bd-43f0-8d3d-dcd930c9e65e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-11 07:15] 0crat commented on #95
The job [#95](https://github.com/artipie/maven-adapter/issues/95) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f284dc20-8307-491e-b8fe-43233648371e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-14 09:13] victornoel commented on #99
@0crat refuse

[2020-06-14 10:12] 0crat commented on #99
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#99](https://github.com/artipie/maven-adapter/issues/99), please stop working. Reason for job resignation: Order was cancelled

[2020-06-15 07:35] #96 closed

[2020-06-15 07:35] 0pdd commented on #96
The puzzle `92-8515f940` has disappeared from the source code, that's why I closed this issue.

[2020-06-15 07:35] 0pdd commented on #92
@g4s8 3 puzzles [#95](https://github.com/artipie/maven-adapter/issues/95), [#97](https://github.com/artipie/maven-adapter/issues/97), [#98](https://github.com/artipie/maven-adapter/issues/98) are still not solved; solved: [#96](https://github.com/artipie/maven-adapter/issues/96).

[2020-06-15 07:35] g4s8 commented on #96
@rultor release, tag=`0.4.1`

[2020-06-15 07:36] rultor commented on #96
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22360-643957605)

[2020-06-15 07:46] rultor commented on #96
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22360-643957605) (took me 9min)

[2020-06-15 08:03] 0crat commented on #99
The job [#99](https://github.com/artipie/maven-adapter/issues/99) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2d472b84-ac91-4851-be22-6b398dc1edb9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-16 19:02] paulodamaso commented on #81
@0crat wait for #101

[2020-06-18 20:53] jeffzhu503 opened #102 "How to point mvn to central.artipie.com?"
I am running the following command to create Maven project.
mvn archetype:generate -DgroupId=com.jcg.maven -DartifactId=MavenHelloWorldProject -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
Mvn will download a lot of components from central, https://repo.maven.apache.org.  Can we point mvn to the central.artipie.com?

[2020-06-18 20:53] 0crat commented on #102
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 13:34] 0crat commented on #97
The job [#97](https://github.com/artipie/maven-adapter/issues/97) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b4769864-04ed-4b2e-8ec5-99d8664ef79d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-20 08:52] 0crat commented on #99
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-20 09:15] victornoel commented on #97
@0crat refuse

[2020-06-20 09:56] 0crat commented on #97
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#97](https://github.com/artipie/maven-adapter/issues/97), please stop working. Reason for job resignation: Order was cancelled

[2020-06-20 09:57] 0crat commented on #97
@victornoel Job refused in 20 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-20 10:45] 0crat commented on #97
The job [#97](https://github.com/artipie/maven-adapter/issues/97) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3d83ff11-12dd-4841-af73-2d4ca4f0c8b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-22 12:16] 0crat commented on #98
The job [#98](https://github.com/artipie/maven-adapter/issues/98) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/22815aee-c13f-4f0e-abc9-083cfbcd9c08); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-23 11:19] 0pdd opened #104 "StorageCache.java:42-44: Configure proxy cache with..."
The puzzle `98-e282a7b7` from #98 has to be resolved:

https://github.com/artipie/maven-adapter/blob/78eb17d2d42f9ff2f32d36d7c976814beaabb242/src/main/java/com/artipie/maven/repository/StorageCache.java#L42-L44

The puzzle was created by @g4s8 on 23-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-06-23 11:19] 0pdd commented on #92
@g4s8 4 puzzles [#104](https://github.com/artipie/maven-adapter/issues/104), [#95](https://github.com/artipie/maven-adapter/issues/95), [#97](https://github.com/artipie/maven-adapter/issues/97), [#98](https://github.com/artipie/maven-adapter/issues/98) are still not solved; solved: [#96](https://github.com/artipie/maven-adapter/issues/96).

[2020-06-23 11:19] 0pdd commented on #98
@0pdd the puzzle [#104](https://github.com/artipie/maven-adapter/issues/104) is still not solved.

[2020-06-23 11:20] 0crat commented on #104
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-23 11:41] g4s8 commented on #98
@rultor release, tag=`0.4.2`

[2020-06-23 11:42] rultor commented on #98
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22418-648092064)

[2020-06-23 11:46] 0pdd commented on #98
The puzzle `92-c03a78f8` has disappeared from the source code, that's why I closed this issue.

[2020-06-23 11:46] #98 closed

[2020-06-23 11:46] 0pdd commented on #92
@g4s8 3 puzzles [#104](https://github.com/artipie/maven-adapter/issues/104), [#95](https://github.com/artipie/maven-adapter/issues/95), [#97](https://github.com/artipie/maven-adapter/issues/97) are still not solved; solved: [#96](https://github.com/artipie/maven-adapter/issues/96), [#98](https://github.com/artipie/maven-adapter/issues/98).

[2020-06-23 11:51] rultor commented on #98
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22418-648092064) (spent 9min)

[code]

[2020-06-23 11:55] g4s8 commented on #98
@rultor release, tag=`0.4.3`

[2020-06-23 11:56] rultor commented on #98
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22418-648097990)

[2020-06-23 12:04] rultor commented on #98
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22418-648097990) (spent 8min)

[code]

[2020-06-23 12:05] 0crat commented on #98
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-23 12:05] g4s8 commented on #98
@rultor release, tag=`0.4.3`

[2020-06-23 12:07] rultor commented on #98
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22418-648102703)

[2020-06-23 12:17] rultor commented on #98
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22418-648102703) (took me 10min)

[2020-06-23 15:28] g4s8 opened #105 "Maven proxy cache doesn't work"
When loading Maven artifact via proxy for first time - it's working fine, but second attempt to load same resource returns empty response with no data and content-length = 0

[2020-06-23 15:29] 0crat commented on #105
The job [#105](https://github.com/artipie/maven-adapter/issues/105) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/27a67d9b-50da-4b14-8f7c-c4e2c55b5b45); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-25 09:50] 0crat commented on #81
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-25 09:51] 0crat commented on #81
The job [#81](https://github.com/artipie/maven-adapter/issues/81) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/630ce7ed-a072-474a-af18-3d99f2146880); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-25 11:44] 0crat commented on #97
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-25 17:10] victornoel commented on #81
@paulodamaso @g4s8 has this been incorrectly assigned to me?

[2020-06-26 09:35] g4s8 opened #107 "Codecov action is failing"
Let's fix codecov action and add badge to the readme file.

[2020-06-26 10:48] 0crat commented on #107
The job [#107](https://github.com/artipie/maven-adapter/issues/107) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/879f83b2-89d0-4b9e-baaa-59f4e4250254); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-06-26 11:49] g4s8 commented on #105
@rultor release, tag=`0.4.4`

[2020-06-26 11:49] rultor commented on #105
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22432-650137477)

[2020-06-26 12:03] rultor commented on #105
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22432-650137477) (took me 13min)

[2020-06-27 13:03] victornoel commented on #81
@0crat wait

[2020-06-29 08:58] g4s8 commented on #81
@victornoel I've assigned this ticket to you because @paulodamaso is not responding in PR comments for too long.

[2020-07-01 11:53] 0crat commented on #107
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-03 10:51] g4s8 opened #108 "Maven adapter incompatible with latest HTTP version"
[code]

[2020-07-03 11:00] 0crat commented on #108
The job [#108](https://github.com/artipie/maven-adapter/issues/108) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/76855a6f-257a-431e-91c9-6e35d12ada6b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-07-03 11:00] g4s8 commented on #108
@rultor release, tag=`0.4.5`

[2020-07-03 11:02] rultor commented on #108
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22493-653489679)

[2020-07-03 11:25] rultor commented on #108
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22493-653489679) (spent 23min)

[code]

[2020-07-03 12:23] g4s8 commented on #108
@rultor release, tag=`0.4.5`

[2020-07-03 12:25] rultor commented on #108
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22493-653522857)

[2020-07-03 12:40] rultor commented on #108
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22493-653522857) (spent 15min)

[code]

[2020-07-03 12:49] g4s8 commented on #108
@rultor release, tag=`0.4.5`

[2020-07-03 12:49] rultor commented on #108
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22493-653532591)

[2020-07-03 13:05] rultor commented on #108
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22493-653532591) (spent 15min)

[code]

[2020-07-03 13:08] g4s8 commented on #108
@rultor release, tag=`0.4.5`

[2020-07-03 13:08] rultor commented on #108
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22493-653540522)

[2020-07-03 13:24] rultor commented on #108
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22493-653540522) (spent 15min)

[code]

[2020-07-03 13:27] g4s8 commented on #108
@rultor release, tag=`0.4.5`

[2020-07-03 13:28] rultor commented on #108
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22493-653548865)

[2020-07-03 13:46] rultor commented on #108
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22493-653548865) (took me 18min)

[2020-07-03 14:29] g4s8 commented on #108
Fixed

[2020-07-03 14:29] #108 closed

[2020-07-03 14:49] 0crat commented on #108
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-05 17:27] victornoel commented on #81
@g4s8 I will refuse this job, I think @paulodamaso answered in the PR, so you want to assign to him again maybe before I refuse and it gets assigned to a third person?

[2020-07-06 09:35] g4s8 commented on #81
@0crat assign @paulodamaso

[2020-07-06 09:48] 0crat commented on #81
@g4s8 The job [#81](https://github.com/artipie/maven-adapter/issues/81) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2387dcd8-bb6b-4936-8b93-ee33aeccaa2b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-07-06 12:47] #105 closed

[2020-07-06 14:28] paulodamaso commented on #81
@g4s8 I'll look into it today, sorry for the absence

[2020-07-08 09:59] g4s8 opened #109 "Maven is broken: NoClassDefFound Header"
Maven can't find artipie/http Header class.

[2020-07-08 10:00] 0crat commented on #109
The job [#109](https://github.com/artipie/maven-adapter/issues/109) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e9d448f5-75de-4ef0-845c-a7316cad8505); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-07-08 10:05] g4s8 commented on #109
@rultor release, tag=`0.4.6`

[2020-07-08 10:05] rultor commented on #109
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22529-655423044)

[2020-07-08 10:14] rultor commented on #109
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22529-655423044) (took me 9min)

[2020-07-10 13:49] g4s8 opened #110 "Release to central.artipie.com"
Create workflow to release to https://central.artipie.com/artipie/maven

[2020-07-10 13:52] g4s8 commented on #110
@rultor release, tag=`0.4.7`

[2020-07-10 13:53] rultor commented on #110
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22564-656688469)

[2020-07-10 14:02] rultor commented on #110
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22564-656688469) (spent 8min)

[code]

[2020-07-10 14:09] g4s8 commented on #110
@rultor release, tag=`0.4.8`

[2020-07-10 14:10] rultor commented on #110
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22564-656696338)

[2020-07-10 14:18] rultor commented on #110
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22564-656696338) (spent 7min)

[code]

[2020-07-10 14:19] g4s8 commented on #110
@rultor release, tag=`0.4.8`

[2020-07-10 14:22] rultor commented on #110
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22564-656701080)

[2020-07-10 14:29] rultor commented on #110
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22564-656701080) (spent 7min)

[code]

[2020-07-10 14:44] g4s8 commented on #110
@rultor release, tag=`0.4.8`

[2020-07-10 14:45] rultor commented on #110
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22564-656713105)

[2020-07-10 14:53] rultor commented on #110
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22564-656713105) (spent 8min)

[code]

[2020-07-10 19:18] paulodamaso commented on #107
@0crat wait for #111

[2020-07-13 10:08] #110 closed

[2020-07-13 10:08] g4s8 commented on #109
Fixed

[2020-07-13 10:08] #109 closed

[2020-07-13 10:25] 0crat commented on #110
Job `gh:artipie/maven-adapter#110` is not assigned, can't get performer

[2020-07-22 07:16] 0pdd opened #112 "README.md:87-95: Snapshot repository support Add snapshot..."
The puzzle `81-45c77ddf` from #81 has to be resolved:

https://github.com/artipie/maven-adapter/blob/4cd0aac89b723f721e882fc224918a7b1bd672a7/README.md#L87-L95

The puzzle was created by paulodamaso on 12-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2020-07-22 07:16] 0pdd commented on #81
@g4s8 the puzzle [#112](https://github.com/artipie/maven-adapter/issues/112) is still not solved.

[2020-07-22 07:16] g4s8 commented on #81
@paulodamaso PR #101 was merged, thanks.

[2020-07-22 07:16] #81 closed

[2020-07-22 07:30] g4s8 commented on #99
@0crat refuse

[2020-07-22 07:32] g4s8 commented on #97
@0crat refuse

[2020-07-22 07:32] 0crat commented on #99
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#99](https://github.com/artipie/maven-adapter/issues/99), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 07:33] g4s8 commented on #107
@paulodamaso PR #111 was merged, thanks.

[2020-07-22 07:33] #107 closed

[2020-07-22 07:35] 0crat commented on #97
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#97](https://github.com/artipie/maven-adapter/issues/97), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 08:08] 0crat commented on #81
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [6b9e2402-4fbb-4047-b80e-1fd827b2a41a](https://www.0crat.com/footprint/CT2E6TK9B/6b9e2402-4fbb-4047-b80e-1fd827b2a41a), Type: "Order was finished"

[2020-07-29 14:50] g4s8 opened #113 "Maven repository issues"
There're some issues with Maven repository: it doesn't have any validation, `<versioning>` of metadata file may be incorrect if someone uploaded artifact just with `PUT` request, metadata file can be broken if user uploads valid `xml` metadata file with invalid artifact id and group id.

Consider changing maven deploy workflow to:
 1. Upload artifacts and checksum to temporary location, until `mav

[2020-07-30 14:22] g4s8 opened #114 "Maven proxy resource leakage"
Connections are not closed after usage in maven proxy repository

[2020-08-04 13:29] g4s8 commented on #114
Done

[2020-08-04 13:29] #114 closed

[2020-08-04 14:25] g4s8 commented on #113
The common deploy requests HTTP flow:
[code]

[2020-08-05 13:43] g4s8 opened #117 "Add checksum and etag headers for GET requests"
Add checksum headers and `ETag` header with `Cache-control: no-store` for `GET` and `HEAD` requests for artifacts

[2020-08-06 08:58] 0crat commented on #113
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-08-06 09:06] g4s8 commented on #113
@olenagerasimova here's full HTTP deploy requests and responses I've collected while deploing test package to Artifactory:
<details>
<summary>HTTP requests</summary>

Format: some requests may include `100` response status before the request, actually it's sent between request head and body because of capture limitations, e.g.
[code]
packet is shows as:
[code]

[code]
</details>

[2020-08-06 09:31] g4s8 opened #118 "Broken cached content"

[2020-08-06 09:33] g4s8 commented on #118
@rultor release, tag=`0.4.7`

[2020-08-06 09:34] rultor commented on #118
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22838-669821584)

[2020-08-06 09:35] rultor commented on #118
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22838-669821584) (spent 25s)

[code]

[2020-08-07 10:11] olenagerasimova opened #122 "Use ContentWithSize in UpdateMavenSlice"
Update `http` and use `ContentWithSize` in `UpdateMavenSlice` when https://github.com/artipie/http/pull/216 is merged and released.

[2020-08-07 12:34] 0pdd opened #124 "Maven.java:52-54: Extract interface from this class, this..."
The puzzle `113-dcb9f101` from #113 has to be resolved:

https://github.com/artipie/maven-adapter/blob/e0ece09aa520a995b66e87d7a7368df0144ebb06/src/main/java/com/artipie/maven/Maven.java#L52-L54

The puzzle was created by @olenagerasimova on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-08-07 12:35] 0pdd opened #125 "ValidUpload.java:33-34: Implement this interface: proper..."
The puzzle `113-4777d363` from #113 has to be resolved:

https://github.com/artipie/maven-adapter/blob/e0ece09aa520a995b66e87d7a7368df0144ebb06/src/main/java/com/artipie/maven/repository/ValidUpload.java#L33-L34

The puzzle was created by @olenagerasimova on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-08-07 12:35] 0pdd commented on #113
@g4s8 2 puzzles [#124](https://github.com/artipie/maven-adapter/issues/124), [#125](https://github.com/artipie/maven-adapter/issues/125) are still not solved.

[2020-08-10 14:07] 0pdd opened #127 "LocalMavenSlice.java:56-58: Add test to verify this..."
The puzzle `117-fbe37248` from #117 has to be resolved:

https://github.com/artipie/maven-adapter/blob/99f17714c69635765534866d557f6f458c40f460/src/main/java/com/artipie/maven/http/LocalMavenSlice.java#L56-L58

The puzzle was created by @g4s8 on 07-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-08-10 14:07] 0pdd commented on #117
@g4s8 the puzzle [#127](https://github.com/artipie/maven-adapter/issues/127) is still not solved.

[2020-08-10 14:07] g4s8 commented on #117
Closed by #123

[2020-08-10 14:07] #117 closed

[2020-08-10 14:44] g4s8 opened #128 "Integrate HTTP client"
Integrate `artipie/http-client` into Maven proxy repository.

[2020-08-11 11:28] #124 closed

[2020-08-11 11:28] 0pdd commented on #124
The puzzle `113-dcb9f101` has disappeared from the source code, that's why I closed this issue.

[2020-08-11 11:28] 0pdd commented on #113
@g4s8 the puzzle [#125](https://github.com/artipie/maven-adapter/issues/125) is still not solved; solved: [#124](https://github.com/artipie/maven-adapter/issues/124).

[2020-08-11 11:56] 0crat commented on #124
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-11 13:19] olenagerasimova opened #130 "Add packages and restructure classes"
I'd suggest restructure packages and rename some classes. The main idea is to introduce `asto` package and put all classes dependent from storage into this package and introduce `proxy` package for proxy-related classes. Interfaces should be placed into "root" package:
[code]
`http` stays as is.

[2020-08-11 13:19] olenagerasimova commented on #130
@g4s8 what do you think?

[2020-08-11 13:21] #125 closed

[2020-08-11 13:21] 0pdd commented on #125
The puzzle `113-4777d363` has disappeared from the source code, that's why I closed this issue.

[2020-08-11 13:22] 0pdd opened #131 "ValidUpload.java:63-65: Implement maven-metadata.xml..."
The puzzle `125-381e455c` from #125 has to be resolved:

https://github.com/artipie/maven-adapter/blob/2e2f3ddbf14871ed4e876b1b386fbeabbf2de593/src/main/java/com/artipie/maven/repository/ValidUpload.java#L63-L65

The puzzle was created by @olenagerasimova on 11-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-08-11 13:22] 0pdd opened #132 "ValidUploadAstoTest.java:93-94: Move this method to class..."
The puzzle `125-7c485e22` from #125 has to be resolved:

https://github.com/artipie/maven-adapter/blob/2e2f3ddbf14871ed4e876b1b386fbeabbf2de593/src/test/java/com/artipie/maven/repository/ValidUploadAstoTest.java#L93-L94

The puzzle was created by @olenagerasimova on 11-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-08-11 13:22] 0pdd commented on #113
@g4s8 2 puzzles [#131](https://github.com/artipie/maven-adapter/issues/131), [#132](https://github.com/artipie/maven-adapter/issues/132) are still not solved; solved: [#124](https://github.com/artipie/maven-adapter/issues/124), [#125](https://github.com/artipie/maven-adapter/issues/125).

[2020-08-11 13:22] 0pdd commented on #125
@0pdd 2 puzzles [#131](https://github.com/artipie/maven-adapter/issues/131), [#132](https://github.com/artipie/maven-adapter/issues/132) are still not solved.

[2020-08-11 13:58] 0crat commented on #125
Job was finished in 30 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-11 14:50] g4s8 commented on #130
@olenagerasimova I agree generally. But I think we also need `http` package to put all `Slice` implementation there.

[2020-08-11 18:27] olenagerasimova commented on #130
@g4s8 `http` stays as is (I've mentioned it at the end of the initial description), I think this package is perfectly fine

[2020-08-13 08:33] #132 closed

[2020-08-13 08:33] 0pdd commented on #132
The puzzle `125-7c485e22` has disappeared from the source code, that's why I closed this issue.

[2020-08-13 08:33] 0pdd commented on #113
@g4s8 the puzzle [#131](https://github.com/artipie/maven-adapter/issues/131) is still not solved; solved: [#124](https://github.com/artipie/maven-adapter/issues/124), [#125](https://github.com/artipie/maven-adapter/issues/125), [#132](https://github.com/artipie/maven-adapter/issues/132).

[2020-08-13 08:33] 0pdd commented on #125
@0pdd the puzzle [#131](https://github.com/artipie/maven-adapter/issues/131) is still not solved; solved: [#132](https://github.com/artipie/maven-adapter/issues/132).

[2020-08-13 09:02] 0crat commented on #132
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-13 10:09] #130 closed

[2020-08-13 11:04] olenagerasimova commented on #113
@g4s8

question about checking uploaded metadata versions: now we simply generate new versions list by listing all repository items by package key. How are you suggesting to validate versions in `maven-metadata.xml`?

[2020-08-13 11:16] g4s8 commented on #113
@olenagerasimova I think we can validate version by reading uploaded client `maven-metadata.xml` and checking it contains artifact version from upload path, e.g. if client uploads `com/foo/bar/1.0/bar-1.0.jar` but `maven-metadata.xml` has `0.1` version we can treat such upload as invalid.

[2020-08-13 11:31] 0crat commented on #130
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-13 13:06] olenagerasimova commented on #113
@g4s8 as files are uploaded one by one independently, I read version from `maven-metadata.xml` to start upload validation process (check AstoValidUpload#validateChecksums), so we will validate upload by version specified in `maven-metadata.xml`. The only thing we can do here - treat upload invalid if no artifacts were found by specified version.

[2020-08-13 13:11] g4s8 opened #137 "Support Cache-control and ETag headers"
Maven client supports Cache-control directives and `ETag` header. Let's investigate what cache directives can use `mvn` and `gradle` clients and support these headers. If request has cache control directives and `ETag` header, we can just return not-modified response without body.

[2020-08-13 13:36] g4s8 commented on #113
@olenagerasimova yes, it makes sense. In such case can you please propose some validation flow for new artifact deploy?

[2020-08-13 13:48] olenagerasimova commented on #113
@g4s8 sure, I'll submit PR, describe it there and we can discuss any details.

[2020-08-13 14:20] 0pdd opened #138 "MavenProxySlice.java:79-81: This class will be moved to..."
The puzzle `128-dad87a94` from #128 has to be resolved:

https://github.com/artipie/maven-adapter/blob/6371e7176584f534b3b180cdb0b4771f5b1d092f/src/main/java/com/artipie/maven/http/MavenProxySlice.java#L79-L81

The puzzle was created by @g4s8 on 13-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-08-13 14:20] 0pdd commented on #128
@g4s8 the puzzle [#138](https://github.com/artipie/maven-adapter/issues/138) is still not solved.

[2020-08-13 14:24] #118 closed

[2020-08-13 14:25] g4s8 opened #139 "Support cache for proxy repository"
Add support of `Cache` from `artipie/asto` for proxy `Slice`

[2020-08-14 05:48] g4s8 commented on #128
Done in #136

[2020-08-14 05:48] #128 closed

[2020-08-14 06:06] 0crat commented on #128
Job `gh:artipie/maven-adapter#128` is not assigned, can't get performer

[2020-08-14 08:37] #122 closed

[2020-08-14 08:55] 0crat commented on #122
Job `gh:artipie/maven-adapter#122` is not assigned, can't get performer

[2020-08-14 12:51] #131 closed

[2020-08-14 12:51] 0pdd commented on #131
The puzzle `125-381e455c` has disappeared from the source code, that's why I closed this issue.

[2020-08-14 12:51] 0pdd opened #143 "AstoValidUploadTest.java:38-41: Refactor this test class:..."
The puzzle `131-0b1cd596` from #131 has to be resolved:

https://github.com/artipie/maven-adapter/blob/53e78d14120d42fc260031c64db67551f41538ec/src/test/java/com/artipie/maven/asto/AstoValidUploadTest.java#L38-L41

The puzzle was created by olenagerasimova on 13-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-14 12:51] 0pdd commented on #113
@g4s8 the puzzle [#143](https://github.com/artipie/maven-adapter/issues/143) is still not solved; solved: [#124](https://github.com/artipie/maven-adapter/issues/124), [#125](https://github.com/artipie/maven-adapter/issues/125), [#131](https://github.com/artipie/maven-adapter/issues/131), [#132](https://github.com/artipie/maven-adapter/issues/132).

[2020-08-14 12:51] 0pdd commented on #125
@0pdd the puzzle [#143](https://github.com/artipie/maven-adapter/issues/143) is still not solved; solved: [#131](https://github.com/artipie/maven-adapter/issues/131), [#132](https://github.com/artipie/maven-adapter/issues/132).

[2020-08-14 12:51] 0pdd commented on #131
@0pdd the puzzle [#143](https://github.com/artipie/maven-adapter/issues/143) is still not solved.

[2020-08-16 05:42] olenagerasimova commented on #99
@0crat assign me

[2020-08-16 06:07] 0crat commented on #99
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-08-17 06:10] olenagerasimova opened #144 "Do not start update when snapshot metadata is sent"
Snapshot artifacts [have](https://maven.apache.org/ref/3.6.3/maven-repository-metadata/repository-metadata.html) their own `maven-metadata.xml`, we do not have to start repository update when such metadata is sent. Fix `UpdateMavenSlice` accordingly, note that `maven-metadata.xml` for snapshot does not have `latest` tag, current version should be obtained from `version` tag
[code]
Fix `ArtifactsMe

[2020-08-17 10:32] #113 closed

[2020-08-17 10:47] g4s8 opened #146 "Proxy cache verification"
We have some broken artifacts in proxy cache, let's verify this content by sending `HEAD` request to remote before downloading artifact from cache.

[2020-08-18 05:28] olenagerasimova opened #148 "Versions comparator"
Comparing artifact versions with `Comparator.naturalOrder()` is not correct as, for example, this comparator considers `0.9` bigger than `0.10`. We need to create proper comparator, test it and use in `ArtifactsMetadata` and `MavenMetadata`.

[2020-08-18 11:06] #148 closed

[2020-08-18 11:23] 0crat commented on #148
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-18 11:56] #99 closed

[2020-08-18 11:56] 0pdd commented on #99
The puzzle `91-f4650219` has disappeared from the source code, that's why I closed this issue.

[2020-08-18 11:56] 0pdd commented on #64
@g4s8 the puzzle [#84](https://github.com/artipie/maven-adapter/issues/84) is still not solved; solved: [#71](https://github.com/artipie/maven-adapter/issues/71), [#72](https://github.com/artipie/maven-adapter/issues/72), [#77](https://github.com/artipie/maven-adapter/issues/77), [#83](https://github.com/artipie/maven-adapter/issues/83), [#85](https://github.com/artipie/maven-adapter/issues/85), [

[2020-08-18 11:56] 0pdd commented on #72
@0pdd the puzzle [#84](https://github.com/artipie/maven-adapter/issues/84) is still not solved; solved: [#83](https://github.com/artipie/maven-adapter/issues/83), [#85](https://github.com/artipie/maven-adapter/issues/85), [#91](https://github.com/artipie/maven-adapter/issues/91), [#99](https://github.com/artipie/maven-adapter/issues/99).

[2020-08-18 11:56] 0pdd commented on #85
@0pdd all 2 puzzles are solved here: [#91](https://github.com/artipie/maven-adapter/issues/91), [#99](https://github.com/artipie/maven-adapter/issues/99).

[2020-08-18 11:56] 0pdd commented on #91
@0pdd the only puzzle [#99](https://github.com/artipie/maven-adapter/issues/99) is solved here.

[2020-08-19 09:25] 0pdd opened #151 "ArtifactsMetadataTest.java:110-111: Extract this method..."
The puzzle `144-f2081e49` from #144 has to be resolved:

https://github.com/artipie/maven-adapter/blob/25557b82146faaa2b51a63121a033ba5ac5ee02a/src/test/java/com/artipie/maven/metadata/ArtifactsMetadataTest.java#L110-L111

The puzzle was created by @olenagerasimova on 18-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The t

[2020-08-19 09:25] 0pdd commented on #144
@olenagerasimova the puzzle [#151](https://github.com/artipie/maven-adapter/issues/151) is still not solved.

[2020-08-24 14:45] 0pdd opened #153 "CachedProxySlice.java:56-61: Create integration test for..."
The puzzle `146-f356618a` from #146 has to be resolved:

https://github.com/artipie/maven-adapter/blob/cf59b5d63589852beb540230ff6a2a34297df5e5/src/main/java/com/artipie/maven/http/CachedProxySlice.java#L56-L61

The puzzle was created by Kirill on 19-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-08-24 14:45] #146 closed

[2020-08-24 14:45] 0pdd commented on #146
@g4s8 the puzzle [#153](https://github.com/artipie/maven-adapter/issues/153) is still not solved.

[2020-08-24 15:05] 0crat commented on #146
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @g4s8[/z](https://www.0crat.com/u/g4s8) (its creator); I won't close the order; please, re-open it and ask @g4s8[/z](https://www.0crat.com/u/g4s8) to close it

[2020-08-27 09:56] #144 closed

[2020-08-27 10:13] 0crat commented on #144
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-08-28 09:02] 0pdd commented on #151
The puzzle `144-f2081e49` has disappeared from the source code, that's why I closed this issue.

[2020-08-28 09:02] #151 closed

[2020-08-28 09:02] 0pdd commented on #144
@olenagerasimova the only puzzle [#151](https://github.com/artipie/maven-adapter/issues/151) is solved here.

[2020-08-28 09:26] 0crat commented on #151
Job `gh:artipie/maven-adapter#151` is not assigned, can't get performer

[2020-08-28 12:51] g4s8 opened #168 "Dependency updates"
Root ticket for updated dependencies

[2020-08-31 10:02] #143 closed

[2020-08-31 10:02] 0pdd commented on #143
The puzzle `131-0b1cd596` has disappeared from the source code, that's why I closed this issue.

[2020-08-31 10:02] 0pdd commented on #113
@g4s8 all 5 puzzles are solved here: [#124](https://github.com/artipie/maven-adapter/issues/124), [#125](https://github.com/artipie/maven-adapter/issues/125), [#131](https://github.com/artipie/maven-adapter/issues/131), [#132](https://github.com/artipie/maven-adapter/issues/132), [#143](https://github.com/artipie/maven-adapter/issues/143).

[2020-08-31 10:02] 0pdd commented on #125
@0pdd all 3 puzzles are solved here: [#131](https://github.com/artipie/maven-adapter/issues/131), [#132](https://github.com/artipie/maven-adapter/issues/132), [#143](https://github.com/artipie/maven-adapter/issues/143).

[2020-08-31 10:02] 0pdd commented on #131
@0pdd the only puzzle [#143](https://github.com/artipie/maven-adapter/issues/143) is solved here.

[2020-08-31 10:20] 0crat commented on #143
Job `gh:artipie/maven-adapter#143` is not assigned, can't get performer

[2020-09-02 14:48] olegmoz opened #178 "Avoid race conditions on adding artifact"
When artifact is added to Maven repository at same location by multiple clients race conditions are possible. To avoid them it is possible to use exclusive access to certain part of `Storage`.

[2020-09-02 14:55] 0crat commented on #178
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-03 08:42] 0pdd commented on #54
@g4s8 all 5 puzzles are solved here: [#56](https://github.com/artipie/maven-adapter/issues/56), [#57](https://github.com/artipie/maven-adapter/issues/57), [#58](https://github.com/artipie/maven-adapter/issues/58), [#60](https://github.com/artipie/maven-adapter/issues/60), [#62](https://github.com/artipie/maven-adapter/issues/62).

[2020-09-08 09:17] #139 closed

[2020-09-10 09:05] #178 closed

[2020-09-10 09:08] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-10 09:09] rultor commented on #178
@olegmoz Thanks for your request. @g4s8 Please confirm this.

[2020-09-10 09:13] olegmoz commented on #178
@yegor256 I've just added myself as architect to `.rultor`, could you please touch the file?

[2020-09-10 09:25] 0crat commented on #178
Job `gh:artipie/maven-adapter#178` is not assigned, can't get performer

[2020-09-10 14:04] yegor256 commented on #178
@olegmoz done at 038fe7d

[2020-09-14 07:24] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-14 07:25] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-691871773)

[2020-09-14 07:30] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-691871773) (spent 5min)

[code]

[2020-09-14 07:52] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-14 07:53] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-691885724)

[2020-09-14 07:58] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-691885724) (spent 5min)

[code]

[2020-09-14 08:56] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-14 08:58] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-691919138)

[2020-09-14 09:03] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-691919138) (spent 5min)

[code]

[2020-09-14 09:13] olegmoz opened #189 "Test `UpdateMavenSliceTest.throwsExceptionWhenMetadataUpdatesDoneSimultaneously` is flaky"
Test `UpdateMavenSliceTest.throwsExceptionWhenMetadataUpdatesDoneSimultaneously` seems to be flaky.
Usually the test pass, but sometimes it crashes with the following error:

[code]

[2020-09-14 09:15] 0crat commented on #189
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-14 09:15] olegmoz commented on #189
@olenagerasimova could you please look into this issue? It seems that `maven-metadata.xml` sometimes is read after it's deletion in `UpdateMavenSlice`

[2020-09-14 11:11] olegmoz commented on #189
I have managed to extract full exception:
[code]

[2020-09-14 12:06] 0crat commented on #189
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-14 14:56] #189 closed

[2020-09-14 14:56] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-14 14:57] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692112537)

[2020-09-14 15:09] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692112537) (spent 12min)

[code]

[2020-09-14 15:13] 0crat commented on #189
Job `gh:artipie/maven-adapter#189` is not assigned, can't get performer

[2020-09-14 16:38] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-14 16:39] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692174221)

[2020-09-14 16:51] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692174221) (spent 12min)

[code]

[2020-09-15 06:53] olegmoz opened #191 "Release via rultor fails"
It is not possible to create using `rultor` due to following error coming from XCOP utility:
[code]

[2020-09-15 08:02] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 08:03] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692541723)

[2020-09-15 08:15] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692541723) (spent 12min)

[code]

[2020-09-15 08:20] 0crat commented on #191
Job `gh:artipie/maven-adapter#191` is not assigned, can't get performer

[2020-09-15 08:22] olegmoz commented on #191
Release still fails with another error:
[code]

[2020-09-15 08:22] 0crat commented on #191
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-15 09:23] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 09:24] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692589828)

[2020-09-15 09:35] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692589828) (spent 11min)

[code]

[2020-09-15 10:59] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 11:00] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692641380)

[2020-09-15 11:12] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692641380) (spent 12min)

[code]

[2020-09-15 11:15] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 11:16] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692649283)

[2020-09-15 11:30] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692649283) (spent 13min)

[code]

[2020-09-15 13:09] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 13:10] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692703251)

[2020-09-15 13:16] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 13:16] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692703251) (spent 6min)

[code]

[2020-09-15 13:18] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692706988)

[2020-09-15 13:30] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692706988) (spent 12min)

[code]

[2020-09-15 13:46] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-15 13:46] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-692725310)

[2020-09-15 13:58] rultor commented on #178
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23284-692725310) (spent 12min)

[code]

[2020-09-15 15:27] olegmoz commented on #191
Integration tests require Docker to run, but `rultor` does not provide proper environment for that. So integration tests should be disabled in `.rultor`

[2020-09-16 10:23] olegmoz commented on #191
@yegor256 I had to disable integration tests in `.rultor.yaml`, please touch `.rultor.yaml` to allow releases

[2020-09-16 18:55] yegor256 commented on #191
@olegmoz done

[2020-09-16 19:10] olegmoz commented on #178
@rultor release, tag=`0.5`

[2020-09-16 19:11] rultor commented on #178
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23284-693604522)

[2020-09-16 19:19] rultor commented on #178
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23284-693604522) (took me 8min)

[2020-09-17 07:23] #191 closed

[2020-09-17 08:11] 0crat commented on #191
Job `gh:artipie/maven-adapter#191` is not assigned, can't get performer

[2020-09-23 06:20] olenagerasimova opened #197 "Maven proxy tests"
Let's create tests for maven proxy: we need both unit and integration tests.

[2020-10-01 05:58] olenagerasimova commented on #197
@genryxy it looks like I fixed maven-proxy, could you please update brunch with your proxy IT case and check whether it works?

[2020-10-01 06:32] genryxy commented on #197
@olenagerasimova yeah, I'll update branch and check

[2020-10-01 09:44] olenagerasimova commented on #197
@rultor release, tag=`0.6`

[2020-10-01 09:44] olenagerasimova commented on #197
all done here

[2020-10-01 09:44] #197 closed

[2020-10-01 09:44] olenagerasimova commented on #168
already updated

[2020-10-01 09:44] #168 closed

[2020-10-01 09:45] rultor commented on #197
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23440-702019643)

[2020-10-01 09:51] rultor commented on #197
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23440-702019643) (spent 5min)

[code]

[2020-10-01 10:36] olenagerasimova commented on #197
@olegmoz maven release failed, seems like smth is wrong with javadoc. Will ppom upgrade help or is there a way to know what is wrong exectly?

[2020-10-01 11:23] olegmoz commented on #197
@olenagerasimova yes, probably. I will look into this ASAP

[2020-10-01 11:26] olegmoz commented on #197
@rultor release, tag=`0.6`

[2020-10-01 11:27] rultor commented on #197
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23440-702070092)

[2020-10-01 11:36] rultor commented on #197
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23440-702070092) (took me 8min)

[2020-10-01 11:39] olegmoz commented on #197
@olenagerasimova @genryxy new maven release `0.6` is ready

[2020-10-01 18:58] 0crat commented on #197
Job [#197](https://github.com/artipie/maven-adapter/issues/197) is closed, can't start order

[2020-10-02 06:54] olegmoz opened #204 "Upgrade HTTP client and add support for authenticated proxy"
When auth support is added to HTTP client we may add authenticated access in Maven Proxy

[2020-10-02 06:55] 0crat commented on #204
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-02 14:58] 0crat commented on #138
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-05 08:25] #138 closed

[2020-10-05 08:25] 0pdd commented on #128
@g4s8 the only puzzle [#138](https://github.com/artipie/maven-adapter/issues/138) is solved here.

[2020-10-05 08:56] 0crat commented on #138
Job `gh:artipie/maven-adapter#138` is not assigned, can't get performer

[2020-10-06 17:47] #204 closed

[2020-10-06 18:10] 0crat commented on #204
Job `gh:artipie/maven-adapter#204` is not assigned, can't get performer

[2020-10-07 06:47] olegmoz commented on #204
@rultor release, tag=`0.7`

[2020-10-07 06:48] rultor commented on #204
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23498-704732185)

[2020-10-07 06:56] rultor commented on #204
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23498-704732185) (took me 8min)

[2020-10-08 13:53] olegmoz opened #211 "Maven proxy should handle missing artifacts without errors"
`RepoHead` class throws excpetion when receives 404 from remote. This is normal situation and should not cause exception
[code]

[2020-10-08 14:02] 0crat commented on #211
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-09 05:24] olenagerasimova opened #212 "HeadProxySlice issues"
There are two problems with `HeadProxySlice`:
1. maven-central returns 421 on requests with `Host` header and vertx adds such header, so we should not proxy headers in this slice
2. response headers (headers from proxy, from maven central for example) are not returned in response

Let's fix this and add corresponding tests.

[2020-10-09 10:04] 0crat commented on #211
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-09 11:14] #212 closed

[2020-10-09 12:04] 0crat commented on #212
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-13 17:13] olenagerasimova opened #215 "Update asto and clean up unused classes"
Let's update asto and remove unused classes and corresponding tests:
1) `RpRemote` - this class functionality is now part of http-client
2) `RpAsto`and `RemoteDownloadSlice` are now part of `DownloadSlice`
3) `ProxyCache` and its implementation were moved to asto with some modifications

[2020-10-14 06:30] #215 closed

[2020-10-14 06:31] #95 closed

[2020-10-14 06:31] 0pdd commented on #95
The puzzle `92-1b44735d` has disappeared from the source code, that's why I closed this issue.

[2020-10-14 06:31] 0pdd commented on #97
The puzzle `92-97bb0a49` has disappeared from the source code, that's why I closed this issue.

[2020-10-14 06:31] #97 closed

[2020-10-14 06:31] #104 closed

[2020-10-14 06:31] 0pdd commented on #104
The puzzle `98-e282a7b7` has disappeared from the source code, that's why I closed this issue.

[2020-10-14 06:31] 0pdd commented on #92
@g4s8 all 5 puzzles are solved here: [#104](https://github.com/artipie/maven-adapter/issues/104), [#95](https://github.com/artipie/maven-adapter/issues/95), [#96](https://github.com/artipie/maven-adapter/issues/96), [#97](https://github.com/artipie/maven-adapter/issues/97), [#98](https://github.com/artipie/maven-adapter/issues/98).

[2020-10-14 06:31] 0pdd commented on #98
@0pdd the only puzzle [#104](https://github.com/artipie/maven-adapter/issues/104) is solved here.

[2020-10-14 06:58] 0crat commented on #97
Job `gh:artipie/maven-adapter#97` is not assigned, can't get performer

[2020-10-14 06:59] 0crat commented on #215
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-14 06:59] 0crat commented on #104
Job `gh:artipie/maven-adapter#104` is not assigned, can't get performer

[2020-10-20 00:23] 0crat commented on #215
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#215](https://github.com/artipie/maven-adapter/issues/215), since the job is not in scope anymore

[2020-10-20 20:10] genryxy opened #219 "MavenProxySlice should return 404 when artifact isn't got"
Maven proxy should return `404` when artifact wasn't found in cache and wasn't got via proxy.
After fixing disable test.
See #218

[2020-10-21 07:24] #211 closed

[2020-10-21 08:01] 0crat commented on #211
Job `gh:artipie/maven-adapter#211` is not assigned, can't get performer

[2020-10-30 14:18] #219 closed

[2020-10-30 14:18] 0pdd opened #221 "CachedProxySlice.java:65-68: Change realization of..."
The puzzle `219-256f285b` from #219 has to be resolved:

https://github.com/artipie/maven-adapter/blob/a53cb503a684882eb998b83e0644b0d1e42b2035/src/main/java/com/artipie/maven/http/CachedProxySlice.java#L65-L68

The puzzle was created by Aleksandr Krasnov on 30-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-10-30 14:18] 0pdd commented on #219
@genryxy the puzzle [#221](https://github.com/artipie/maven-adapter/issues/221) is still not solved.

[2020-10-30 15:05] 0crat commented on #219
Job `gh:artipie/maven-adapter#219` is not assigned, can't get performer

[2020-11-06 10:39] olenagerasimova opened #222 "Support absent content in proxy"
Let's update `asto` and support absent content by returning 404 to the client.

[2020-11-13 09:01] #222 closed

[2020-11-13 09:01] 0pdd opened #224 "MavenProxySliceAuthIT.java:55-57: This test is failing..."
The puzzle `222-04d7eed6` from #222 has to be resolved:

https://github.com/artipie/maven-adapter/blob/075ba2a31ff8338c93278399aec56a5b8ae6085c/src/test/java/com/artipie/maven/http/MavenProxySliceAuthIT.java#L55-L57

The puzzle was created by @olenagerasimova on 13-Nov-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2020-11-13 09:01] 0pdd commented on #222
@olenagerasimova the puzzle [#224](https://github.com/artipie/maven-adapter/issues/224) is still not solved.

[2020-11-13 09:19] 0crat commented on #222
Job `gh:artipie/maven-adapter#222` is not assigned, can't get performer

[2020-11-13 09:27] olenagerasimova commented on #222
@rultor release, tag=`0.7.1`

[2020-11-13 09:28] rultor commented on #222
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23676-726654014)

[2020-11-13 09:36] rultor commented on #222
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23676-726654014) (took me 8min)

[2021-02-08 08:20] portlek opened #225 "Are there any plan to add more functionality?"
for example, scheduler for removing old snapshots to hold X amount of new snapshots like sonatype or artifactory.
![image](https://user-images.githubusercontent.com/12835420/107193152-93ab8300-69ff-11eb-901e-916a73b83de4.png)
at least this task is really needed for many users because i think most of them want to remove old and unused snapshots automatically instead of manual :/ (_like me_)

_also,

[2021-03-01 08:52] olenagerasimova opened #227 "Metadata update process"
Currently metadata update process is started when `maven-metadata.xml` file is received by `UpdateMavenSlice`. During the update we expect checksums of the `maven-metadata.xml` to be present and validate them. Such approach is not quite correct as maven client sends checksums after the metadata file, so we should either accept checksums and only then start the update process or do not validate che

[2021-03-01 13:25] olenagerasimova commented on #227
@g4s8 could you please take a look? How we are going to resolve it?

[2021-03-24 10:56] g4s8 commented on #227
@olenagerasimova I see only two possible ways to fix it:
 1. Bind Maven deploy to user session, we need to investigate what metadata can be used for session identification of each particular deploy (maybe unique header or cookie or packageId+userId), and perform deploy for each session into isolated location, where only one deployment could be stored. We can identify a completion by uploading of `

[2021-03-24 15:07] olenagerasimova commented on #227
@g4s8 hm, not sure I understand the idea from the first point. Here is maven deploy log, does not seem like there are any headers we can use to separate one deploy from another:
[code]

[2021-04-05 11:07] #84 closed

[2021-04-05 11:07] 0pdd commented on #84
The puzzle `72-e21c7763` has disappeared from the source code, that's why I closed this issue.

[2021-04-05 11:07] 0pdd commented on #64
@g4s8 all 8 puzzles are solved here: [#71](https://github.com/artipie/maven-adapter/issues/71), [#72](https://github.com/artipie/maven-adapter/issues/72), [#77](https://github.com/artipie/maven-adapter/issues/77), [#83](https://github.com/artipie/maven-adapter/issues/83), [#84](https://github.com/artipie/maven-adapter/issues/84), [#85](https://github.com/artipie/maven-adapter/issues/85), [#91](htt

[2021-04-05 11:07] 0pdd commented on #72
@0pdd all 5 puzzles are solved here: [#83](https://github.com/artipie/maven-adapter/issues/83), [#84](https://github.com/artipie/maven-adapter/issues/84), [#85](https://github.com/artipie/maven-adapter/issues/85), [#91](https://github.com/artipie/maven-adapter/issues/91), [#99](https://github.com/artipie/maven-adapter/issues/99).

[2021-04-09 13:29] #227 closed

[2021-04-09 13:29] 0pdd commented on #112
The puzzle `81-45c77ddf` has disappeared from the source code, that's why I closed this issue.

[2021-04-09 13:29] #112 closed

[2021-04-09 13:29] 0pdd commented on #81
@g4s8 the only puzzle [#112](https://github.com/artipie/maven-adapter/issues/112) is solved here.

[2021-04-15 01:16] 0crat commented on #227
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#227](https://github.com/artipie/maven-adapter/issues/227), since the job is not in scope anymore

[2021-04-19 10:16] olenagerasimova commented on #227
@rultor release, tag=`0.8`

[2021-04-19 10:17] rultor commented on #227
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24370-822354458)

[2021-04-19 10:27] rultor commented on #227
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24370-822354458) (took me 9min)

[2021-04-19 14:04] olenagerasimova opened #242 "Snapshot only packages"
If artifact have only snapshot versions and another or first snapshot versions is uploaded to the repository, `release` tag will be absent in package maven metadata. We should take into account and do not calculate `release` tag in `PutMetadataSlice`.

[2021-04-20 08:41] #242 closed

[2021-04-20 08:45] olenagerasimova commented on #242
@rultor release, tag=`0.8.1`

[2021-04-20 08:47] rultor commented on #242
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24374-823099014)

[2021-04-20 08:57] rultor commented on #242
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24374-823099014) (took me 9min)

[2022-10-20 13:05] ChGen opened #255 "Maven metadata version format"
Checking artifacts in basic maven java project found dependency not handled correctly when uploading to Artipie (artipie/artipie:v0.27.2 ):

https://mvnrepository.com/artifact/classworlds/classworlds/1.1

Uploading with `mvn -V deploy:deploy-file -Dfile=... -DpomFile=...`

Generated metadata file (in Artipie repository) contains non-numeric version:

`classworlds/classworlds/1.1/meta/maven-metadat

[2022-10-21 13:51] ChGen opened #256 "Maven uploading exceptions"
When uploading with `mvn deploy:deploy-file ...` I get intermittent exceptions.
Typical exception is:
[code]

When simulation uploads with JMeter I get similar exceptions, but also a new one:
[code]

This all looks like some kind of concurrency/synchronization kind of issue to me.
Logs for both cases are attached.

[2022-10-24 09:31] olenagerasimova commented on #255
@ChGen where did the version `1.1-alpha-2` come from?

[2022-10-24 09:37] olenagerasimova commented on #256
I've fixed several issues in asto connecting with "file not found error" recently, so let's update the dependencies at first and see what happen.

[2022-10-24 09:38] ChGen commented on #255
@olenagerasimova , I've prepared simple `pom.xml` (attached) for maven project and made `mvn clean install` with clean `.m2` cache.
[pom.zip](https://github.com/artipie/maven-adapter/files/9850558/pom.zip)

[2022-10-24 10:06] olenagerasimova commented on #255
@ChGen according to the attached pom version is `1.0` not `1.1-alpha-2`...

[2022-10-24 10:44] ChGen commented on #255
@olenagerasimova , I tested it again, and it downloads 1.1 and its alpha version too:
[code]

[2022-10-25 14:21] #255 closed